src/main/mule/ps-to-sfdc-report-email-scheduler.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:request-config name="Email_Report_HTTPRequest_Config" doc:name="HTTP Request configuration" doc:id="9cdd6c95-5d04-414e-9f2e-b0392bcf1e62" >
		<http:request-connection host="0.0.0.0" port="8081" />
	</http:request-config>
	<flow name="ps-to-sfdc-report-email-schedulerFlow" doc:id="999614a6-6c2c-4da7-9542-2f26042a3efb" initialState="started">
		<scheduler doc:name="Report Scheduler" doc:id="e047b950-cbb3-456a-ba2e-9583ece7c672" >
			<scheduling-strategy >
				<fixed-frequency frequency="1" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</scheduler>
		<logger level="INFO" doc:name="Log Start" doc:id="bde540b8-7d75-488f-880b-5e0d4e96967e" />
		<flow-ref doc:name="Email API Invoke" doc:id="31aa6c6a-8819-4253-a693-f6d3d57998c8" name="ps-to-sfdc-report-email-api"/>
	</flow>
	<flow name="ps-to-sfdc-report-email-api" doc:id="e0ad022f-6168-4494-a8fb-d1d6cb1e1ac2" >
		<logger level="INFO" doc:name="Log Query Start Time" doc:id="c3551c22-a8fe-498e-bbb6-6f97039baa56" message='#["Query execution started:" ++ now()]'/>
		<os:retrieve doc:name="os timeStampKey Retrieve" doc:id="311b7fb7-f6e7-412e-a1a8-97bb366211be" key="timeStampKey">
			<os:default-value ><![CDATA[#[(now() - (p('report.time.period') ++ p('report.time.interval') ++ p('report.time.designator')))]]]></os:default-value>
		</os:retrieve>
		<ee:transform doc:name="set Variables" doc:id="b995798a-8002-4a89-926c-1cb256afeed4" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="queryStartDateTime" ><![CDATA[%dw 2.0
output application/java
---
payload as LocalDateTime {format: "yyyy-MM-dd HH:mm:ss"} as String {format: "yyyy-MM-dd HH:mm:ss"}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<db:select doc:name="Get Error Records of One hour" doc:id="91ea2d1d-d6df-4b25-b0e6-95447526a532" config-ref="aux-db-config">
			<db:sql >select * from SYSADM.PS_XC_AQ_AUX_TBL where 
DTTM_MODIFIED &gt;= :queryTime
and xc_aq_status='ERROR'</db:sql>
			<db:input-parameters ><![CDATA[#['queryTime': vars.queryStartDateTime]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Email Report Request" doc:id="6d4f803a-44d2-43ad-96a2-4d9832e8012a">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "subject": "Test subject",
    "body": if(sizeOf(payload)>0) payload else "There are no error records in last one hour",
    "addresses":{
        "to": "chaitanya.chimakurthi@apisero.com"
    }
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
		<http:request method="POST" doc:name="Email Report Invoke" doc:id="4e9087f4-af96-41e5-831b-b8e62305faf1" path="/api/email" config-ref="Email_Report_HTTPRequest_Config" />
		<logger level="INFO" doc:name="Email Report Response" doc:id="1e44cc52-d554-4b00-9d88-b0b792bfc294" message='"Response from Email Application: " #[payload]'/>
		<os:store doc:name="OS Update timeStapmKey" doc:id="e8119ed8-4ce7-4a15-b6a7-12626b782891" key="timeStampKey" objectStore="Object_store">
			<os:value ><![CDATA[#[if(payload.type == "SUCCESSFUL") (vars.queryStartDateTime + (p('report.time.period') ++ p('report.time.interval') ++ p('report.time.designator'))) else vars.queryStartDateTime]]]></os:value>
		</os:store>
		<logger level="INFO" doc:name="Email Report Completed" doc:id="cd141e59-0372-470f-9f19-19ecf1952d9e" />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="45925519-1540-4ffa-8b01-21ce5a93386f" >
				<logger level="INFO" doc:name="Error in Email Report Flow" doc:id="f06c28b8-dc64-479f-a97c-0ce9760fca07" />
				<os:store doc:name="Store" doc:id="b4b9a107-8f53-491b-afc3-e712d57d7e41" key="timeStampKey" objectStore="Object_store">
					<os:value ><![CDATA[#[vars.queryStartDateTime]]]></os:value>
				</os:store>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
