src/main/mule/ps-to-sfdc-email.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e72323c9-61fc-4151-ad37-5855d46b1fd3" >
		<http:listener-connection host="0.0.0.0" port="6668" />
	</http:listener-config>
	<flow name="sfdc-call-sys-api" doc:id="3f7c2654-faa4-4639-bb0a-741c26fe0c8d" >
		<http:request method="POST" doc:name="POST Create Address" doc:id="27a66c5f-3435-4c7b-a28c-757d12331ea6" config-ref="sfdc-system-http-request-config" path="${http.request.system.sfdc.path.createAddress}" target="sdfc_address_result">
						<reconnect frequency="10000" count="3" />
						<http:body><![CDATA[#[output application/json --- payload]]]></http:body>
						<http:query-params><![CDATA[#[output application/java
---
{
	"ViewName" : "email"
}]]]></http:query-params>
					</http:request>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="06e079af-57b3-470d-abd5-5a0c73584395" >
				<ee:transform doc:name="DW Set Aux DB Update Variables" doc:id="ea6a4b2b-c107-4625-9ae6-80b9b5a1eb4c">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="vAuxUpdateQuery"><![CDATA["Update SYSADM.PS_XC_AQ_AUX_TBL set XC_AQ_DESTINATION = 'SFDC',XC_AQ_DEST_ID = :id,XC_AQ_DEST_TYPE=:destType,DT_TIMESTAMP = :now,XC_AQ_STATUS = :status,XC_AQ_METADATA = :metadata,DESCR250 = :description,XC_AQ_SOURCE_TYPE = :sourceType where GUID= :tuuid"]]></ee:set-variable>
				<ee:set-variable variableName="vAuxUpdatePayload"><![CDATA[%dw 2.0
output application/json
---
{
	"id": vars.sdfc_address_result.id[0] default'NA',
	"destType": p('auxDBColumns.XC_AQ_DEST_TYPE.email'),
	"sourceType": p('auxDBColumns.XC_AQ_SOURCE_TYPE.email'),
	"tuuid": vars.uuid,
	"now": now() as String {format: 'yyyy-MM-dd hh:mm:ss.SSS'},
	"status": if(vars.sdfc_address_result.success[0] == true) "COMPLETED" else "ERROR",
	"metadata": if(vars.sdfc_address_result.success[0] == true) "Record Insert or Updated in SFDC" else "Error while Insert or Update in SFDC",
    "description": if(vars.sdfc_address_result.success[0] == true) "Record Insert or Updated in SFDC" else if (error.description != null) (error.description) else "Error while Insert or Update in SFDC"
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
					<flow-ref doc:name="Flow Ref To cf-aux-update" doc:id="84d2bc55-2ddd-43a3-bb32-ffc3f309547c" name="cf-aux-update" />
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="pf-ps-to-sfdc-email-sync" doc:id="55bc9a72-8233-4f94-99a3-19683c1e2184">
		<logger level="INFO" doc:name="LOG START Trigger Email Flow" doc:id="5d801724-9def-46c9-8d1b-f1a04eab9c12" message="Trigger entered for create Email sync" />
		<set-variable value="#[now()]" doc:name="Set Variable currentTime_Email" doc:id="f5752444-a857-4b9e-9627-581f4360683c" variableName="currentTime_Email"/>
		<os:retrieve doc:name="Retrieve lastProcessedTime_Email" doc:id="46f4e2f5-0f5b-4831-b89d-e71e1c1e4918" key="lastProcessedTime_Email" objectStore="Object_store" target="lastProcessedTime_Email">
			<os:default-value ><![CDATA[#[p('default.lastProcessedTime')]]]></os:default-value>
		</os:retrieve>
		<db:select doc:name="Select Email from PS DB" doc:id="239e7884-0677-4745-b18b-25759874d533" config-ref="rpt-db-config" target="PSEmail">
			<reconnect frequency="10000" count="3" />
			<db:sql>#[p('db.rpt.query.email')]</db:sql>
			<db:input-parameters ><![CDATA[#[{
	"LAST_UPDT_DTTM": vars.lastProcessedTime_Email
}]]]></db:input-parameters>
			
		
</db:select>
		<choice doc:name="Choice" doc:id="08c2f1cd-e002-412e-841c-0abb4361ca84" >
			<when expression="#[sizeOf(vars.PSEmail)&gt;0]">
				<ee:transform doc:name="DW Java To JSON" doc:id="f347aabd-5943-4626-8d59-bcb44aa88eb8">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.PSEmail]]></ee:set-payload>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="max_LAST_UPDT_DTTM"><![CDATA[(vars.PSEmail.LAST_UPDT_DTTM orderBy ($))[sizeOf(vars.PSEmail)-1]]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
				<logger level="INFO" doc:name="LOG INFO Transformed Resultset" doc:id="4f24474e-457a-4889-b62d-9ba7e0697bc1" message="#[payload]" />
				<flow-ref doc:name="Flow Ref To pf-email-sync-process-batch" doc:id="70b210db-0d84-455d-b4bb-b4352e5d8802" name="pf-email-sync-process-batch" />
				<set-payload value="#[output application/json --- payload]" doc:name="SET Payload Of Execution Status Of Batch" doc:id="b8e34ee9-34af-4ea9-ad47-f60b41aac6da" />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Log Info" doc:id="8a3d8092-4e94-4b7d-a9d7-66a14f7f9523" message="No New records for Email"/>
			</otherwise>
		</choice>
		<os:store doc:name="Store lastProcessedTime_Email" doc:id="b2f5b908-12c0-4eff-94d9-b38d798b5618" key="lastProcessedTime_Email" objectStore="Object_store">
			<os:value ><![CDATA[#[vars.currentTime_Email]]]></os:value>
		</os:store>
	</flow>
	<flow name="pf-email-sync-process-batch" doc:id="6e3810ba-6ed8-405f-af40-1d755bc65716" >
		<batch:job jobName="email-sync-process" doc:id="7945c006-71c8-4229-bb42-1e1f89322caf" maxFailedRecords="-1">
			<batch:process-records >
				<batch:step name="sync-ps-records-to-sfdc" doc:id="252f8712-1479-4ec3-8899-965dcf69a0a9" acceptPolicy="ALL">
					
						<ee:transform doc:name="DW Map Payload Address EmplId" doc:id="491016e2-f23e-4651-a8a4-ad7bf9fe83fd">
						<ee:message />
						<ee:variables>
							<ee:set-variable variableName="varRecordToAuxDbase"><![CDATA[%dw 2.0
output application/json
---

 

	{
		emplID: payload."EMPLID" as String,
		LastUpdatedDate: payload."LAST_UPDT_DTTM" as LocalDateTime as String {format: 'yyyy-MM-dd HH.mm.ss.SSSSSSSSS '}
	}
]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
						<flow-ref doc:name="Flow Ref To cf-generate-uuid" doc:id="87e2c588-592e-4537-ba80-d4bf9557c787" name="cf-generate-uuid" />
						<flow-ref doc:name="Flow Ref To sf-email-persistance-aux-insert" doc:id="8a3bcd68-9cce-402f-bb51-37f36c341ac0" name="sf-email-persistance-aux-insert" />
						<flow-ref doc:name="Flow Ref to sys api call" doc:id="fef220a6-5b91-4fb3-82dd-7f6a589ff492" name="sfdc-call-sys-api" />
					<logger level="DEBUG" doc:name="LOG INFO SFDC Results" doc:id="101ee594-0db7-4a77-97ff-ed3e5fa08844" message="#[vars.sdfc_address_result]" />
						<set-variable value="#[vars.uuid]" doc:name="Set FV id" doc:id="4afa5219-cfef-4ecc-a59b-8a4bb2f221c9" variableName="id" />
						<flow-ref doc:name="Flow Ref To sf-email-persistance-aux-update" doc:id="c87011b4-4db8-4ea0-9b3e-bdcc26ce7b14" name="sf-email-persistance-aux-update" />
						<logger level="INFO" doc:name="LOG INFO Payload" doc:id="0bf6a02c-d54d-4429-abb8-5ced99653704" message="#[payload]" />
					
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="LOG INFO Total Records" doc:id="6473209d-7b4c-48f8-990a-4ff1feb2545c" message="#[payload]" />
			</batch:on-complete>
		</batch:job>
	</flow>
	<sub-flow name="sf-email-persistance-aux-update" doc:id="03c21894-41ca-4c56-a061-3cab28874d89" >
		<ee:transform doc:name="DW Set Aux DB Update Variables" doc:id="2b77bba6-f4fe-4a27-acfa-5a44c23e8541" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="vAuxUpdateQuery" ><![CDATA["Update SYSADM.PS_XC_AQ_AUX_TBL set XC_AQ_DESTINATION = 'SFDC',XC_AQ_DEST_ID = :id,XC_AQ_DEST_TYPE=:destType,DT_TIMESTAMP = :now,XC_AQ_STATUS = :status,XC_AQ_METADATA = :metadata,DESCR250 = :description,XC_AQ_SOURCE_TYPE = :sourceType where GUID= :tuuid"]]></ee:set-variable>
				<ee:set-variable variableName="vAuxUpdatePayload" ><![CDATA[%dw 2.0
output application/json
---
{
	"id": vars.sdfc_address_result.id[0] default'NA',
	"destType": p('auxDBColumns.XC_AQ_DEST_TYPE.email'),
	"sourceType": p('auxDBColumns.XC_AQ_SOURCE_TYPE.email'),
	"tuuid": vars.id,
	"now": now() as String {format: 'yyyy-MM-dd hh:mm:ss.SSS'},
	"status": if(vars.sdfc_address_result.success[0] == true) "COMPLETED" else "ERROR",
	"metadata": if(vars.sdfc_address_result.success[0] == true) "Record Insert or Updated in SFDC" else "Error while Insert or Update in SFDC",
    "description": if(vars.sdfc_address_result.success[0] == true) "Record Insert or Updated in SFDC" else (flatten(vars.sdfc_address_result.errors)).message[0]
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Flow Ref To cf-aux-update" doc:id="351c7b8c-251d-4d8c-b4f7-34531b171dd8" name="cf-aux-update"/>
	
</sub-flow>
	<sub-flow name="sf-email-persistance-aux-insert" doc:id="378aca4c-bf6f-45a5-8ff6-02d9ffac43ef" >
		<set-variable value="#[vars.varRecordToAuxDbase]" doc:name="SET FV AuxDetails" doc:id="0347eae4-b266-4c6a-9e98-1894e761c8f0" variableName="AuxDetails" />
		<ee:transform doc:name="DW Set Aux DB Insert Variables" doc:id="b38e5171-3e8d-48aa-91f0-49e731be0a5e" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="vAuxInsertPayload" ><![CDATA[%dw 2.0
output application/json
---
{
GUID: vars.uuid,
XC_AQ_SOURCE: 'PS-CS', 
XC_AQ_SOURCE_ID: vars.AuxDetails.emplID,  
XC_AQ_SOURCE_TYPE: p('auxDBColumns.XC_AQ_SOURCE_TYPE.email'),
XC_AQ_DESTINATION: '-',
XC_AQ_DEST_ID: '-',
XC_AQ_STATUS: 'In progress',
DTTM_CREATED: now() as String {format: 'yyyy-MM-dd hh:mm:ss.SSS'},
DTTM_MODIFIED: now() as String {format: 'yyyy-MM-dd hh:mm:ss.SSS'},
XC_AQ_METADATA: 'CS to SFDC',
DESCR250: 'Data transfer from Campus Solution to SFDC',
XC_AQ_DEST_TYPE: p('auxDBColumns.XC_AQ_DEST_TYPE.email')
}]]></ee:set-variable>
				<ee:set-variable variableName="vAuxInsertQuery" ><![CDATA["Insert into SYSADM.PS_XC_AQ_AUX_TBL (GUID, XC_AQ_SOURCE, XC_AQ_SOURCE_ID, XC_AQ_SOURCE_TYPE, XC_AQ_DESTINATION, XC_AQ_DEST_ID, XC_AQ_DEST_TYPE, XC_AQ_STATUS, DTTM_CREATED, DTTM_MODIFIED,  XC_AQ_METADATA, DESCR250) values (:GUID, :XC_AQ_SOURCE, :XC_AQ_SOURCE_ID, :XC_AQ_SOURCE_TYPE, :XC_AQ_DESTINATION, :XC_AQ_DEST_ID, :XC_AQ_DEST_TYPE, :XC_AQ_STATUS,  :DTTM_CREATED, :DTTM_MODIFIED, :XC_AQ_METADATA, :DESCR250)"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Flow Ref To cf-aux-insert" doc:id="7f7c991c-3084-44c2-aa4a-2d8c5ba6877d" name="cf-aux-insert"/>
	</sub-flow>
</mule>
