src/main/mule/ps-to-sfdc-phone.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="pf-ps-to-sfdc-phone-sync" doc:id="a5634c47-faea-414f-befc-81175fe9b6ce">
		<logger level="INFO" doc:name="LOG START  Trigger Phone Flow" doc:id="de47de29-0a13-4c03-bd1c-c79f56a21f61" message="Trigger entered for create Email sync" />
		<db:select doc:name="Select Phone from PS DB" doc:id="9d5426fb-de36-4dfb-a999-b57539db6277" config-ref="rpt-db-config" target="PSPhone">
			<reconnect frequency="10000" count="3" />
			<db:sql>#[p('db.rpt.query.phone')]</db:sql>
			<db:input-parameters ><![CDATA[#[{
	"LAST_UPDT_DTTM": vars.lastProcessedTime
}]]]></db:input-parameters>
			
		
</db:select>
		<ee:transform doc:name="DW Java To JSON" doc:id="53228e2a-8505-4461-a30a-b6f95dec3b96">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.PSPhone]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="max_LAST_UPDT_DTTM" ><![CDATA[(vars.PSPhone.LAST_UPDT_DTTM orderBy ($))[sizeOf(vars.PSPhone)-1]]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="LOG INFO Transformed Resultset" doc:id="83985051-0c1e-48af-9e91-06325709307b" message='#[payload]' />
		<flow-ref doc:name="Flow Ref To pf-phone-sync-process-batch" doc:id="17aac280-2952-4de4-b59f-ac9e46530d5a" name="pf-phone-sync-process-batch" />
		<set-payload value="#[output application/json --- payload]" doc:name="SET  Payload Of Execution Status Of Batch" doc:id="76ecdaf1-b91f-4ee5-96f1-8d8730b884c9" />
	</flow>
	<flow name="pf-phone-sync-process-batch" doc:id="6ba067f8-e53b-4c7f-b602-4bd48fcee7b4" >
		<batch:job jobName="phone-sync-process" doc:id="68ca8a79-ce78-4fd0-878c-2b8c3a4534d5" >
			<batch:process-records >
				<batch:step name="sync-ps-records-to-sfdc" doc:id="44d68f82-4d3f-4ea2-bee5-36ed9d09cb90" >
					<ee:transform doc:name="DW Map Payload Address EmplId" doc:id="5d86ccdf-5d7b-41e7-9e3d-54076b3fd356" >
						<ee:message />
						<ee:variables >
							<ee:set-variable variableName="varRecordToAuxDbase" ><![CDATA[%dw 2.0
output application/json
---

 

	{
		emplID: payload."EMPLID" as String,
		LastUpdatedDate: payload."LAST_UPDT_DTTM" as LocalDateTime as String {format: 'yyyy-MM-dd HH.mm.ss.SSSSSSSSS '}
	}
]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
					<flow-ref doc:name="Flow Ref To cf-generate-uuid" doc:id="5e731984-9ea1-4304-a326-2f696ab912dd" name="cf-generate-uuid" />
					<flow-ref doc:name="Flow Ref To sf-phone-persistance-aux-insert" doc:id="e833c480-1f80-44e4-bed5-d8f5d29a50aa" name="sf-phone-persistance-aux-insert" />
					<http:request method="POST" doc:name="POST Create Address" doc:id="36cd069a-b9b5-4df5-b101-5f24c53f4367" config-ref="sfdc-system-http-request-config" path="${http.request.system.sfdc.path.createAddress}" target="sdfc_address_result">
						<reconnect frequency="10000" count="3" />
						<http:body ><![CDATA[#[output application/json --- payload]]]></http:body>
						<http:query-params ><![CDATA[#[output application/java
---
{
	"ViewName" : "phone"
}]]]></http:query-params>
					</http:request>
					<logger level="INFO" doc:name="LOG INFO for SFDC Results" doc:id="28ef80cb-2713-4fed-805c-c0f8be5d95fc" message="#[vars.sdfc_address_result]" />
					<set-variable value="#[vars.uuid]" doc:name="Set Variable id" doc:id="d727e7f2-b0cb-4572-8cd2-ab1f77cafb47" variableName="id" />
					<flow-ref doc:name="Flow Ref To sf-phone-persistance-aux-update" doc:id="3b1da5d8-21d6-40eb-b53d-7aa903d3fd3b" name="sf-phone-persistance-aux-update" />
					<logger level="INFO" doc:name="LOG INFO Payload" doc:id="743c3951-8bc7-4aa6-af30-bca4367098d8" message="#[payload]" />
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="LOG INFO Total Records" doc:id="9ab48532-f577-4d87-957a-f0d860956993" message="#[payload]" />
			</batch:on-complete>
		</batch:job>
	</flow>
	<sub-flow name="sf-phone-persistance-aux-update" doc:id="4bfc4c27-05e0-4aa8-a6e7-8e9e84fab69c" >
		<ee:transform doc:name="DW Set Aux Update Variables" doc:id="faf1a99d-b398-4024-8cc6-d90faf3ae278">
			<ee:message>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="vAuxUpdatePayload" ><![CDATA[%dw 2.0
output application/json
---
{
	"id": vars.sdfc_address_result."id"[0] default'NA',
	"tuuid": vars.id,
	"destType": p('auxDBColumns.XC_AQ_DEST_TYPE.phone'),
	"sourceType": p('auxDBColumns.XC_AQ_SOURCE_TYPE.phone'),
	"now": now() as String {format: 'yyyy-MM-dd hh:mm:ss.SSS'},
	"status": if(vars.sdfc_address_result."success"[0] == true) "COMPLETED" else 'ERROR',
	"metadata": if(vars.sdfc_address_result."success"[0] == true) "Record Insert or Updated in SFDC" else "Error while Insert or Update in SFDC",
    "description": if(vars.sdfc_address_result."success"[0] == true) "Record Insert or Updated in SFDC" else (flatten(vars.sdfc_address_result."errors"))."message"[0]
}]]></ee:set-variable>
				<ee:set-variable variableName="vAuxUpdateQuery" ><![CDATA["Update SYSADM.PS_XC_AQ_AUX_TBL set XC_AQ_DESTINATION = 'SFDC',XC_AQ_DEST_ID = :id,XC_AQ_DEST_TYPE=:destType,DT_TIMESTAMP = :now,XC_AQ_STATUS = :status,XC_AQ_METADATA = :metadata,DESCR250 = :description,XC_AQ_SOURCE_TYPE = :sourceType where GUID= :tuuid"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Flow Ref To cf-aux-update" doc:id="759ea783-0f1b-4284-81b4-2975070fb288" name="cf-aux-update"/>
	
</sub-flow>
	<sub-flow name="sf-phone-persistance-aux-insert" doc:id="7c2da920-d6e6-4b00-a89f-b19bdff9ce81" >
		<set-variable value="#[vars.varRecordToAuxDbase]" doc:name="SET FV AuxDetails" doc:id="8cb4df8a-f0d2-4f40-8333-841e82b33944" variableName="AuxDetails" />
		<ee:transform doc:name="DW Set Aux Insert Variables" doc:id="0d491a4f-df95-4e5b-8a54-adee4e49193b" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="vAuxInsertQuery" ><![CDATA["Insert into SYSADM.PS_XC_AQ_AUX_TBL (GUID, XC_AQ_SOURCE, XC_AQ_SOURCE_ID, XC_AQ_SOURCE_TYPE, XC_AQ_DESTINATION, XC_AQ_DEST_ID, XC_AQ_DEST_TYPE, XC_AQ_STATUS, DTTM_CREATED, DTTM_MODIFIED,  XC_AQ_METADATA, DESCR250) values (:GUID, :XC_AQ_SOURCE, :XC_AQ_SOURCE_ID, :XC_AQ_SOURCE_TYPE, :XC_AQ_DESTINATION, :XC_AQ_DEST_ID, :XC_AQ_DEST_TYPE, :XC_AQ_STATUS,  :DTTM_CREATED, :DTTM_MODIFIED, :XC_AQ_METADATA, :DESCR250)"]]></ee:set-variable>
				<ee:set-variable variableName="vAuxInsertPayload" ><![CDATA[%dw 2.0
output application/json
---
{
GUID: vars.uuid,
XC_AQ_SOURCE: 'PS-CS', 
XC_AQ_SOURCE_ID: vars.AuxDetails.emplID,  
XC_AQ_SOURCE_TYPE: p('auxDBColumns.XC_AQ_SOURCE_TYPE.phone'),
XC_AQ_DESTINATION: '-',
XC_AQ_DEST_ID: '-',
XC_AQ_STATUS: 'In progress',
DTTM_CREATED: now() as String {format: 'yyyy-MM-dd hh:mm:ss.SSS'},
DTTM_MODIFIED: now() as String {format: 'yyyy-MM-dd hh:mm:ss.SSS'},
XC_AQ_METADATA: 'CS to SFDC',
DESCR250: 'Data transfer from Campus Solution to SFDC',
XC_AQ_DEST_TYPE: p('auxDBColumns.XC_AQ_DEST_TYPE.phone')
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Flow Ref To cf-aux-insert" doc:id="24265823-32a1-4d16-a6a0-353195fc55f8" name="cf-aux-insert"/>
	</sub-flow>
</mule>
