src/main/mule/ps-to-sfdc-ext-accounts.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	
	<flow name="pf-ext-accounts-sync-process" doc:id="cb7ad9aa-d871-4552-a7d8-ba55e7967683">
		<http:listener doc:name="Listener" doc:id="e0f7b0e6-89ef-4120-b9c9-86526dd81b88" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="LOG START" doc:id="34c44034-0840-43bd-a5d5-89105619a65d" message='#["Starting account sync batch"]' />
		<db:select doc:name="Select accounts data from PS db" doc:id="9858ae83-c1df-48e4-8844-1b7b22c7a175" config-ref="rpt-db-config">
			<db:sql>#[p('db.rpt.query.extAccounts')]</db:sql>
		</db:select>
		<logger level="INFO" doc:name="LOG INFO payload size" doc:id="aeaf8768-356b-46bd-a3c8-2abac336b7c0" message="Account records size from PS db : #[sizeOf(payload)]" />
		<ee:transform doc:name="DW Set Payload" doc:id="c70ab1a1-eefa-461c-bdb4-b95cd370543c">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map(account, index) -> {
	AQC_Inst_ID__c: account.'EXT_ORG_ID',
	Name: account.'ACCOUNT_NAME',
	AQC_Inst_City__c: account.'CITY',
	AQC_Inst_State__c: account.'STATE',
	AQC_Inst_Country__c: account.'COUNTRY_NM'
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="Flow Ref To pf-ext-accounts-sync-process-batch" doc:id="7ebe7664-257c-4ea0-a313-eee88a4872a6" name="pf-ext-accounts-sync-process-batch"/>
		<logger level="INFO" doc:name="LOG END" doc:id="2f9086ac-1042-44a4-86ba-80a8428d6789" message="Ext Account flow completed"/>
	</flow>
	<flow name="pf-ext-accounts-sync-process-batch" doc:id="bb7e26f4-b1bf-44c4-ac1a-5e54a57907d7" >
		<batch:job jobName="ext-accounts-sync-process" doc:id="3b3129ee-fb6a-4029-b284-59e19478e9fc" >
			<batch:process-records >
				<batch:step name="sync-ps-records-to-sfdc" doc:id="d7cd6edd-7998-4ba5-aff2-4d80cf8d08c8" >
					<logger level="INFO" doc:name="LOG INFO" doc:id="29a2b9f2-dbbc-44d1-b915-b88bf111b828" message="Account record request: #[payload]"/>
					<flow-ref doc:name="Flow Ref To sf-ext-accounts-aux-insert" doc:id="8ba7e190-587f-44ac-ac6d-c288845a0bd7" name="sf-ext-accounts-aux-insert" target="vars.auxSyncPayload" />
					<http:request method="POST" doc:name="POST Create Ext Accounts" doc:id="4a27cdaf-9edc-46ce-9ef9-b66e82b273a7" config-ref="sfdc-system-http-request-config" path="${http.request.system.sfdc.path.extOrgAccounts}"/>
					<ee:transform doc:name="DW JSON To Java" doc:id="fdb04c8e-be4f-49f4-9f60-19402a4a02ae">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
							</ee:message>
						</ee:transform>
					<logger level="INFO" doc:name="LOG INFO" doc:id="464d1c0a-b9f2-43d8-8252-53ee477ca594" message="Account record response: #[payload]"/>
					<flow-ref doc:name="Flow Ref To sf-ext-accounts-aux-update" doc:id="f3aaae58-bdfc-4664-8edb-c98c54f91398" name="sf-ext-accounts-aux-update" />
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<ee:transform doc:name="LOG INFO Batch summary" doc:id="d0c8fd58-38e3-4620-b58c-2fbf0c92c884" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	batchSummary: payload
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="LOG INFO summary" doc:id="5e6834f4-6471-4919-93ec-a33469c72ccc" message="Batch Summary : #[payload]"/>
			</batch:on-complete>
		</batch:job>
	</flow>
	<sub-flow name="sf-ext-accounts-aux-insert" doc:id="70a37f2f-ccca-455d-aedf-2f3753af196d" >
		<flow-ref doc:name="FLow Ref To cf-generate-uuid" doc:id="58c242c0-13fa-4976-9306-24aab7558a10" name="cf-generate-uuid"/>
		<ee:transform doc:name="DW Set  Aux Insert Variables" doc:id="ec373f5d-2d5b-4da4-a3fc-84cc767017ce">
			<ee:message>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="vAuxInsertPayload" ><![CDATA[%dw 2.0
output application/json
---
{
	GUID: vars.uuid,
	XC_AQ_SOURCE: 'PS-CS',
	XC_AQ_SOURCE_ID: vars.uuid as String,
	XC_AQ_SOURCE_TYPE: p('auxDBColumns.XC_AQ_SOURCE_TYPE.extAccounts'),
	XC_AQ_DESTINATION: "SFDC",
	XC_AQ_DEST_ID: "-",
	XC_AQ_DEST_TYPE: p('auxDBColumns.XC_AQ_DEST_TYPE.extAccounts'),
	XC_AQ_STATUS: "In progress",
	DTTM_CREATED: now() as String {format: "yyyy-MM-dd HH:mm:ss"},
	DTTM_MODIFIED: now() as String {format: "yyyy-MM-dd HH:mm:ss"},
	XC_AQ_METADATA: "CS to SFDC",
	DESCR250: "Accounts: Data transfer from Campus Solution to SFDC"
}]]></ee:set-variable>
				<ee:set-variable variableName="vAuxInsertQuery" ><![CDATA["Insert into SYSADM.PS_XC_AQ_AUX_TBL
 (GUID, XC_AQ_SOURCE, XC_AQ_SOURCE_ID, XC_AQ_SOURCE_TYPE, XC_AQ_DESTINATION, XC_AQ_DEST_ID, XC_AQ_DEST_TYPE, XC_AQ_STATUS, DTTM_CREATED, DTTM_MODIFIED,  XC_AQ_METADATA, DESCR250) 
values (:GUID, :XC_AQ_SOURCE, :XC_AQ_SOURCE_ID, :XC_AQ_SOURCE_TYPE, :XC_AQ_DESTINATION, :XC_AQ_DEST_ID, :XC_AQ_DEST_TYPE, :XC_AQ_STATUS,  :DTTM_CREATED, :DTTM_MODIFIED, :XC_AQ_METADATA, :DESCR250)"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Flow Ref To cf-aux-insert" doc:id="f8963afb-5ad0-4e7d-aa92-1c49ede9bf87" name="cf-aux-insert"/>

	</sub-flow>
	<sub-flow name="sf-ext-accounts-aux-update" doc:id="61026db1-5a18-406b-9e86-a75430b68bb7" >
		<ee:transform doc:name="DW Set  Aux Update Variables" doc:id="4a978e46-10db-40fc-aec2-73daa719511a" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="vAuxUpdatePayload" ><![CDATA[%dw 2.0
output application/json
---
{
	GUID: vars.uuid,
	XC_AQ_SOURCE_TYPE: p('auxDBColumns.XC_AQ_SOURCE_TYPE.extAccounts'),
	XC_AQ_DESTINATION: 'SFDC',
	XC_AQ_DEST_ID: payload.data[0].id,
	XC_AQ_DEST_TYPE: p('auxDBColumns.XC_AQ_DEST_TYPE.extAccounts'),
	DT_TIMESTAMP: now() as String {format: "yyyy-MM-dd HH:mm:ss"},
	XC_AQ_STATUS: 'Completed',
	XC_AQ_METADATA: "Record inserted in SFDC",
	DESCR250: "Record inserted in SFDC"
}]]></ee:set-variable>
				<ee:set-variable variableName="vAuxUpdateQuery" ><![CDATA["UPDATE SYSADM.PS_XC_AQ_AUX_TBL 
set XC_AQ_DESTINATION = :XC_AQ_DESTINATION, 
XC_AQ_DEST_ID = :XC_AQ_DEST_ID,
XC_AQ_DEST_TYPE= :XC_AQ_DEST_TYPE,
DT_TIMESTAMP = :DT_TIMESTAMP,
XC_AQ_STATUS = :XC_AQ_STATUS,
XC_AQ_METADATA = :XC_AQ_METADATA,
DESCR250 = :DESCR250,
XC_AQ_SOURCE_TYPE = :XC_AQ_SOURCE_TYPE
WHERE GUID= :GUID"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Flow Ref To cf-aux-update" doc:id="3f4bbfc8-493f-4e89-82f5-7e833169c4de" name="cf-aux-update"/>
	</sub-flow>
</mule>
