src/main/mule/ps-to-sfdc-address.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	<flow name="sfdc-sys-api-call-address" doc:id="d7e569e7-1315-40bb-8334-5e6b4c565c1c" >
		<http:request method="POST" doc:name="POST Create Address" doc:id="a32ac09f-03f7-45ba-98f0-ea9e612846a2" path="${http.request.system.sfdc.path.createAddress}" responseTimeout="100000000" target="sdfc_address_result" config-ref="sfdc-system-http-request-config">
						<reconnect frequency="10000" count="3" />
						<http:query-params><![CDATA[#[output application/java
---
{
	"ViewName" : "address"
}]]]></http:query-params>
					</http:request>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="dcd84308-8d6a-437e-88e2-74cedd3b98ef" >
				<ee:transform doc:name="DW Set Aux Db Update Variables" doc:id="0e72c108-498c-473d-a635-863f4efee0a3" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="vAuxUpdatePayload" ><![CDATA[%dw 2.0
output application/json
---
{
	"id": vars.sdfc_address_result.id[0] default'NA',
	"destType": p('auxDBColumns.XC_AQ_DEST_TYPE.address'),
	"sourceType": p('auxDBColumns.XC_AQ_SOURCE_TYPE.address'),
	"tuuid": vars.uuid,
	"now": now() as String {format: "yyyy-MM-dd HH:mm:ss"},
	"status": if(vars.sdfc_address_result.success[0] == true) "COMPLETED" else "ERROR",
	"metadata": if(vars.sdfc_address_result.success[0] == true) "Record Insert or Updated in SFDC" else "Error while Insert or Update in SFDC",
    "description": if(vars.sdfc_address_result.success[0] == true) "Record Insert or Updated in SFDC" else if (error.description != null) (error.description) else "Error while Insert or Update in SFDC"
}]]></ee:set-variable>
				<ee:set-variable variableName="vAuxUpdateQuery" ><![CDATA["Update SYSADM.PS_XC_AQ_AUX_TBL set XC_AQ_DESTINATION = 'SFDC',XC_AQ_DEST_ID = :id,XC_AQ_DEST_TYPE=:destType,DT_TIMESTAMP = :now,XC_AQ_STATUS = :status,XC_AQ_METADATA = :metadata,DESCR250 = :description,XC_AQ_SOURCE_TYPE = :sourceType where GUID= :tuuid"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Flow Ref To cf-aux-update" doc:id="79bfd9b6-148b-49ee-a213-a3a4113a30b7" name="cf-aux-update"/>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="pf-ps-to-sfdc-address-sync" doc:id="a1b41d1f-fe61-428b-b052-42fbe7472c31">
		<logger level="INFO" doc:name="LOG START  Trigger Address" doc:id="832f4e9c-5b96-4696-86d8-0d49313b5ace" message="Trigger entered for create address" />
		<set-variable value="#[now()]" doc:name="Set Variable currentTime_Address" doc:id="c3449f54-9d27-4b1b-beab-8a608d4fe4a7" variableName="currentTime_Address"/>
		<os:retrieve doc:name="Retrieve lastProcessedTime_Address" doc:id="ba109461-e402-4301-b110-6b4882cf2524" key="lastProcessedTime_Address" objectStore="Object_store" target="lastProcessedTime_Address">
			<os:default-value ><![CDATA[#[p('default.lastProcessedTime')]]]></os:default-value>
		</os:retrieve>
		<db:select doc:name=" Select Addresses from PS DB" doc:id="402b7a12-7a32-4833-8fc5-e6a8453ef506" target="PSAddress" config-ref="rpt-db-config">
			<reconnect frequency="10000" count="3" />
			<db:sql>#[p('db.rpt.query.address')]</db:sql>
			<db:input-parameters ><![CDATA[#[{
	"LAST_UPDT_DTTM": vars.lastProcessedTime_Address
}]]]></db:input-parameters>
		</db:select>
		<choice doc:name="Choice" doc:id="4561687d-8e74-46e4-9682-8ac6d1074bfa" >
			<when expression="#[sizeOf(vars.PSAddress)&gt;0]">
				<ee:transform doc:name="DW Java To JSON" doc:id="47c8ce79-7ab9-4ddb-88a9-421ad4c10c78">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.PSAddress]]></ee:set-payload>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="max_LAST_UPDT_DTTM"><![CDATA[(vars.PSAddress.LAST_UPDT_DTTM orderBy ($))[sizeOf(vars.PSAddress)-1]]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
				<logger level="INFO" doc:name="LOG INFO Transformed Resultset" doc:id="fdb2a35f-403f-4c15-8bd0-0c7a70a57379" message="#[vars.PSAddress]" />
				<flow-ref doc:name="Refer to pf-address-sync-process-batch" doc:id="3189a43e-431b-412d-9d08-5ee159dc27f4" name="pf-address-sync-process-batch" />
				<set-payload value="#[output application/json --- payload]" doc:name="SET Payload" doc:id="d9338ea1-c9cc-46dc-a8e1-79cec28e1cf0" />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Log Info" doc:id="82efccef-becf-4b68-8231-4c15e549eb1e" message="No new record for Address"/>
			</otherwise>
		</choice>
		<os:store doc:name="Store lastProcessedTime_Address" doc:id="c3711b45-ade1-426b-a2be-065e44d67ebf" key="lastProcessedTime_Address" objectStore="Object_store">
			<os:value ><![CDATA[#[vars.currentTime_Address]]]></os:value>
		</os:store>
	</flow>
	 <flow name="pf-address-sync-process-batch" doc:id="52784469-8dc5-444b-b271-e78deff56580" >
		<batch:job jobName="address-sync-process" doc:id="b139b952-fa77-4e4e-8217-2bbcb2a0ac86" maxFailedRecords="-1">
			<batch:process-records >
				<batch:step name="sync-ps-records-to-sfdc" doc:id="7bcdf9e4-b444-42fb-a8fd-cad7356d551a" acceptPolicy="ALL">
					<ee:transform doc:name="DW Map Payload" doc:id="9ff3de02-2938-43fc-965f-88bcfa1223fe">
				<ee:message>
				</ee:message>
				<ee:variables>
					<ee:set-variable variableName="varRecordToAuxDbase"><![CDATA[%dw 2.0
output application/json
---

 

	{
		emplID: payload."EMPLID" as String,
		LastUpdatedDate: payload."LAST_UPDT_DTTM" as LocalDateTime as String {format: 'yyyy-MM-dd HH.mm.ss.SSSSSSSSS '}
	}
]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
					<flow-ref doc:name="Flow Ref To cf-generate-uuid" doc:id="a1459c85-f348-4870-aa16-7c283278e29f" name="cf-generate-uuid" />
					<flow-ref doc:name="Flow Ref To sf-address-persistance-aux-insert" doc:id="40c26836-b6ef-466b-bdd9-37727edf664d" name="sf-address-persistance-aux-insert" />
					<flow-ref doc:name="Flow Ref to sfdc-sys-api-call-address" doc:id="a7fbb205-77ce-4116-94e9-a6e0953cfd75" name="sfdc-sys-api-call-address" />
					<set-variable value="#[vars.uuid]" doc:name="Set Variable id" doc:id="7f5e7731-cd9b-474c-9b65-c4e5e9211d9e" variableName="id" />
					<logger level="INFO" doc:name="LOG INFO  SFDC Results" doc:id="5af7cea9-b1b8-483c-a96f-98af6e5b7b31" message="#[vars.sdfc_address_result]" />
					<flow-ref doc:name="Flow Ref To sf-address-persistance-aux-update" doc:id="ae2fb6e5-276c-4a75-ba7e-e39b5ad525a0" name="sf-address-persistance-aux-update" />
					<logger level="INFO" doc:name="LOG INFO Payload" doc:id="a8d0ef5d-0969-4c52-ace6-a59f1b57f6be" message="#[payload]" />
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="LOG INFO Total Records" doc:id="100cee64-5580-43c1-b755-4ba088e0e3e1" message="#[payload]" />
			</batch:on-complete>
		</batch:job>
	</flow>
	<sub-flow name="sf-address-persistance-aux-update" doc:id="6af92f1c-5466-408e-8b43-90abc388d36f" >
		<ee:transform doc:name="DW Set Aux Db Update Variables" doc:id="7648ea8c-713c-4adb-8f25-67677d195b38" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="vAuxUpdatePayload" ><![CDATA[%dw 2.0
output application/json
---
{
	"id": vars.sdfc_address_result.id[0] default'NA',
	"destType": p('auxDBColumns.XC_AQ_DEST_TYPE.address'),
	"sourceType": p('auxDBColumns.XC_AQ_SOURCE_TYPE.address'),
	"tuuid": vars.id,
	"now": now() as String {format: "yyyy-MM-dd HH:mm:ss"},
	"status": if(vars.sdfc_address_result.success[0] == true) "COMPLETED" else "ERROR",
	"metadata": if(vars.sdfc_address_result.success[0] == true) "Record Insert or Updated in SFDC" else "Error while Insert or Update in SFDC",
    "description": if(vars.sdfc_address_result.success[0] == true) "Record Insert or Updated in SFDC" else (flatten(vars.sdfc_address_result.errors)).message[0]
}]]></ee:set-variable>
				<ee:set-variable variableName="vAuxUpdateQuery" ><![CDATA["Update SYSADM.PS_XC_AQ_AUX_TBL set XC_AQ_DESTINATION = 'SFDC',XC_AQ_DEST_ID = :id,XC_AQ_DEST_TYPE=:destType,DT_TIMESTAMP = :now,XC_AQ_STATUS = :status,XC_AQ_METADATA = :metadata,DESCR250 = :description,XC_AQ_SOURCE_TYPE = :sourceType where GUID= :tuuid"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Flow Ref To cf-aux-update" doc:id="19519a54-7ea3-46c9-827b-503b3dc858a0" name="cf-aux-update"/>
	</sub-flow>
	<sub-flow name="sf-address-persistance-aux-insert" doc:id="4c080cc0-45dd-46d3-a74c-02eefece791f" >
		<set-variable value="#[vars.varRecordToAuxDbase]" doc:name="Set FV AuxDetails" doc:id="e440756a-5a11-4c3e-96c6-5ed15f951a98" variableName="AuxDetails" />
		<ee:transform doc:name="DW Set Aux Db Insert Variables" doc:id="7c97b6d4-fd33-493d-9b6e-6ef6c898099e" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="vAuxInsertPayload" ><![CDATA[%dw 2.0
output application/json
---
{
GUID: vars.uuid,
XC_AQ_SOURCE: 'PS-CS', 
XC_AQ_SOURCE_ID: vars.AuxDetails.emplID,  
XC_AQ_SOURCE_TYPE: p('auxDBColumns.XC_AQ_SOURCE_TYPE.address'),
XC_AQ_DESTINATION: 'SFDC',
XC_AQ_DEST_ID: '-',
XC_AQ_STATUS: 'In Progress',
DTTM_CREATED: now() as String {format: 'yyyy-MM-dd hh:mm:ss.SSS'},
DTTM_MODIFIED: now() as String {format: 'yyyy-MM-dd hh:mm:ss.SSS'},
XC_AQ_METADATA: 'CS to SFDC',
DESCR250: 'Data transfer from Campus Solution to SFDC',
XC_AQ_DEST_TYPE: p('auxDBColumns.XC_AQ_DEST_TYPE.address')
}]]></ee:set-variable>
				<ee:set-variable variableName="vAuxInsertQuery" ><![CDATA["Insert into SYSADM.PS_XC_AQ_AUX_TBL (GUID, XC_AQ_SOURCE, XC_AQ_SOURCE_ID, XC_AQ_SOURCE_TYPE, XC_AQ_DESTINATION, XC_AQ_DEST_ID, XC_AQ_DEST_TYPE, XC_AQ_STATUS, DTTM_CREATED, DTTM_MODIFIED,  XC_AQ_METADATA, DESCR250) values (:GUID, :XC_AQ_SOURCE, :XC_AQ_SOURCE_ID, :XC_AQ_SOURCE_TYPE, :XC_AQ_DESTINATION, :XC_AQ_DEST_ID, :XC_AQ_DEST_TYPE, :XC_AQ_STATUS,  :DTTM_CREATED, :DTTM_MODIFIED, :XC_AQ_METADATA, :DESCR250)"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Flow Ref To cf-aux-insert" doc:id="1727ecb2-f772-46c1-9898-29c64ace3ad0" name="cf-aux-insert"/>
	</sub-flow>
</mule>
