src/main/mule/ps-to-sfdc-education.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" 
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
	<flow name="pf-ps-to-sfdc-education" doc:id="ff04972f-f986-413b-944c-75c86d579bf0" initialState="started">
		<scheduler doc:name="Scheduler" doc:id="54782852-20e0-4d5f-8840-9dd4845f2609" >
			<scheduling-strategy >
				<fixed-frequency frequency="60000"/>
			</scheduling-strategy>
		</scheduler>
		<logger level="INFO" doc:name="LOG Flow for create education" doc:id="92039aee-053d-49a3-9401-9d99612bff22" message="Trigger entered for create Education " />
		<flow-ref doc:name="persistance-education-subflow" doc:id="8e5603c7-8e86-4ef2-b374-c08dfe3b9572" name="persistance-education-subflow"/>
		<flow-ref doc:name="usecase-1-education-papiFlow" doc:id="e2b1fc57-64b3-4840-b8c8-68158b0b0240" name="usecase-1-education-papiFlow"/>
	</flow>
	<flow name="usecase-1-education-papiFlow" doc:id="d2b8a41c-38d7-4a23-a7b0-931337e34c81" >
		<batch:job jobName="usecase-1-education-papiBatch_Job" doc:id="bfbf568d-491a-4151-a648-3dbbf81b0bcc" >
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="8956c4e4-c6a2-4939-94f1-574beac9138d">
					<batch:aggregator doc:name="Batch Aggregator" doc:id="64627df8-b32f-4168-b8fa-685c71293432" size="20">
						<ee:transform doc:name="Mapping for Aux" doc:id="43c72a58-449f-4325-afa0-ef3196f0207d">
			<ee:message>
			</ee:message>
			<ee:variables>
								<ee:set-variable variableName="aux_data_insert" ><![CDATA[%dw 2.0
output application/json
---
payload map(value, index) ->{
	"source": "PS-CS",
	"source_id": value.empid default '',
	"metadata": "CS to SFDC",
	"description": "Education data transfer from Campus Solution to SFDC"
}]]></ee:set-variable>
			</ee:variables>
		
</ee:transform>
						<flow-ref doc:name="sf-aux-insert" doc:id="224e6be5-0345-4960-9894-40e19cfdd786" name="sf-aux-insert" />
						<logger level="INFO" doc:name="LOG - Aux Table Insert" doc:id="9fcb10fe-b12d-4e10-aa60-3278e6cff235" message="Record Inserted in Aux table " />
						<ee:transform doc:name="Mapping from CS To SFDC" doc:id="8fa3d7b1-d33b-4255-990d-a8211f7f26ff">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json

var campus = [
	"Main/Orange Campus",
	"Non-Institutional",
	"Brandman"
]

var degree = [
"Brandman - Graduate",
"Brandman - Undergraduate",
"Extended Education",
"Graduate",
"Graduate Health Sciences",
"Law",
"Undergraduate",
"Certificate",
"Associate",
"Non-Degree",
"Other Degree",
"Credential",
"Honorary"
] 

var month = [
  "Jan",
  "Feb",
  "Mar",
  "Apr",
  "May",
  "Jun",
  "Jul",
  "Aug",
  "Sep",
  "Oct",
  "Nov",
  "Dec"
]

var status = [
  "Program Completed",
  "Discontinuation",
  "Data Changed",
  "Dismissal",
  "Matriculated",
  "Plan Change",
  "Activated",
  "Suspension",
  "Return from Leave of Absense",
  "Program Change",
  "Readmitted",
  "Leave of Absence",
  "Administrative Withdrawal",
  "Admitted",
  "Denied",
  "Deferred Enrollment"
]

var dept = [
  "(General Education)HNRS/INTI",
  "Arts",
  "Athletic Training & Phys Educ",
  "Biological Sciences",
  "Business Admin University Coll",
  "Business and Economics",
  "Career Counseling",
  "Chapman Ability Project",
  "Chapman University College",
  "Chemistry",
  "Comm Sciences and Disorders",
  "Communication",
  "Communication Studies",
  "Computer Science",
  "Conservatory of Music",
  "Criminal Justice",
  "CUC Arts & Sciences",
  "CUC Bus & Professional Studies",
  "CUC Education",
  "CUC General Studies",
  "CUC Nursing",
  "Dance",
  "Educ Stu - Extended Education",
  "Education",
  "Education - CUC",
  "Emerging Scholar - Extended Ed",
  "English",
  "Extended Education",
  "Extended Education - CES",
  "Film and Television",
  "Food Science",
  "General/Unknown/ND",
  "Health Admin",
  "Health Communication",
  "Health Science and Kinesiology",
  "Health Sciences",
  "History",
  "Holocaust Studies Ex Ed",
  "Honors Program",
  "Human Resource Management Busi",
  "Human Resources",
  "International Studies",
  "Law",
  "Leadership Program",
  "Liberal Studies",
  "Marriage and Family Therapy",
  "Mathematics",
  "Mathematics and Computer Scien",
  "Natural Science",
  "Nursing",
  "Organizational Leadership",
  "Other - Clg Huma & Soc Scie",
  "Other - College of Science",
  "Peace Studies",
  "Pharmacy",
  "Philosophy",
  "Physical Therapy",
  "Physician Assistant",
  "Physics, Comput Sci & Engineering",
  "Political Science",
  "Psychology",
  "Public Administration",
  "Registrar Use",
  "Religious Studies",
  "Schmid College Ex Ed",
  "Social Sciences",
  "Sociology",
  "Theatre",
  "World Languages and Cultures"
]

var school = [
  "Unknown",
  "School of Business & Economics",
  "School of Communication",
  "College of Educational Studies",
  "Coll Arts, Hum, & Social Sci",
  "General",
  "College of Health & Behav Sci",
  "CUC General Studies",
  "College of Film & Media Arts",
  "College of Science & Tech",
  "College of Performing Arts",
  "School of Law",
  "CUC Arts & Sciences",
  "CUC Education",
  "Chapman Univ Extended Educ",
  "CUC Bus & Professional Studies",
  "CUC Nursing",
  "School of Pharmacy",
  "Coll Humanities & Social Sci",
  "Argyros School of Business & Economics",
  "College of Health & Behavioral Sciences",
  "Law School",
  "College of Humanities & Social Sciences",
  "Dodge College of Film & Media Arts",
  "College of Science & Technology",
  "University College: Education",
  "General Education",
  "Dale E. Fowler School of Law",
  "University College: Arts & Sciences"
]
---
payload map 
{
  "AQB__Contact__c": ($."EMPLID" as String),
  //"AQB__Institution__c": "a0u2E000009UhuSQAS",
  "AQB__Campus__c": if(campus contains $.CAMPUS) ($.CAMPUS) else '',
  "AQB__IsPrimaryDegree__c": if($.XC_AQ_PRI_DEG == "no" and $.GRAD_YR_EOS != "" and $.GRAD_YR_EOS != null) "Yes" else '',
  "AQB__HonoraryDegree__c": false,
  "RecordTypeId": if($.ACAD_PLAN_TYPE == "CRD") "0122E000000dBuTQAU" else "0122E000000h0RrQAI",
  "AQB__DegreeLevel__c": if(degree contains $.XC_AQ_DEG_LVL) $.XC_AQ_DEG_LVL as String else '',
  "AQB__Graduation_Month__c": if(month contains $.XC_AQ_GRAD_MONTH) $.XC_AQ_GRAD_MONTH as String else '',
  "AQB__GraduationYear__c": $.GRAD_YR_EOS as String default '',
  "AQB__DegreeDiploma__c": $.XC_DEGREE_DESCR as String default '',
  "AQB__PreferredYear__c": $.REUNION_YR as String default '',
  "AQB__FirstYearofAttendance__c": $.START_DT_YEAR as String default '',
  "AQB__LastYearofAttendance__c": $.END_DT_YEAR as String default '',
  //"AQB__Type__c": $.ACAD_PLAN_TYPE default '',
  "AQB__Status__c": if(status contains $.XC_AQ_PROG_STATUS) $.XC_AQ_PROG_STATUS as String else "",
  "AQB__Department__c": if(dept contains $.DEPT_DESCR) $.DEPT_DESCR as String else "",
  "AQB__School__c": if(school contains $.SCHOOL_DESCR) $.SCHOOL_DESCR as String else "",
  //"CreatedById": $.CREATED_BY default '',
  //"CreatedDate": $.CREATED_DTTM default '',
  //"LastModifiedById": $.LAST_UPDT_OPRID default '',
  //"LastModifiedDate": $.LAST_UPDT_DTTM default '',
  //"Major_Minor__c": $.PLAN_DESCR default '',
  //"Emphasis_Specialization_Track__c": $.SAA_SUBPLAN_DESCR default ''
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
						<logger level="DEBUG" doc:name="LOG Education payload" doc:id="e158cd44-800e-4600-a8bd-589e46ab5da9" message="#[payload]" />
						<http:request method="POST" doc:name="Create Education" doc:id="46abbe48-6535-46a3-aede-ffb64d79952e" config-ref="sfdc-system-http-request-config" path="${http.request.system.sfdc.path.createEducation}" responseTimeout="120000">
		</http:request>
						<logger level="INFO" doc:name="LOG Education payload" doc:id="5027aea2-4980-4848-8999-e83e848ee3ab" message="#[payload]" />
						<logger level="INFO" doc:name="LOG-Education created" doc:id="f76f899d-79fb-4bba-a514-ba60510732b7" message="UC-1 Education creation completed!" />
						<ee:transform doc:name="aux_data-update" doc:id="92d65e85-2478-437d-a59c-a62a491ff2d8" >
							<ee:message >
							</ee:message>
							<ee:variables >
								<ee:set-variable variableName="aux_data_update" ><![CDATA[%dw 2.0
output application/json
fun size(message) = if(sizeOf(message)> 245) 245 else (sizeOf(message)-1)
---
(vars.originalPayload default[]) map(value, index) ->{
	"id": payload[index].id default 'NA',
	"now": now() as String {format: 'yyyy-MM-dd hh:mm:ss.SSS'},
	"status": if(payload[index].success == true) "COMPLETED" else 'ERROR',// ERROR or COMPLETED
	"metadata": if(payload[index].success == true) "Record Insert or Updated in SFDC" else "Error while Insert or Update in SFDC",
	"description": if(payload[index].success == true) "Record Insert or Updated in SFDC" else (payload[index].errors.message reduce($$++ ' , ' ++$))[0 to size(payload[index].errors.message reduce($$++ ' , ' ++$))],
	"tuuid": vars.aux_insert_response[index].uuid
}]]></ee:set-variable>
							</ee:variables>
						</ee:transform>
						<flow-ref doc:name="sf-aux-update" doc:id="ebdf861f-9372-453f-82c8-30ce85a9d3bc" name="sf-aux-update" />
						<logger level="INFO" doc:name="LOG - Aux Table Update" doc:id="eaede582-87ac-407f-a5f5-a75e4f678aa9" message="Records updated in Aux table" />
					</batch:aggregator>
				
</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<ee:transform doc:name="Batch summary" doc:id="264f658e-f732-4ca8-81d3-dd4740e9dcf1" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	batchSummary: payload
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Log summary" doc:id="af78d08e-7a98-458a-99a2-c196f31e0aad" message="Batch Summary : #[payload]"/>
			</batch:on-complete>
		</batch:job>
	</flow>
	<sub-flow name="persistance-education-subflow" doc:id="734cab7b-8ccd-4e00-a2e9-4dadb3fc6732" >
		<logger level="INFO" doc:name="Info LOG" doc:id="1ab1f0dd-0425-41a4-aa8b-a184ccf6a62a" message="flow initiated for persistant get:Education with payload:" />
		<db:select doc:name="DB | Select Education" doc:id="2a862ef0-89a5-4dda-81cc-86b770e8c295" target="PSEducation" config-ref="rpt-db-config">
			<db:sql >#[p('db.rpt.query.education')]</db:sql>
		</db:select>	
		<http:request method="POST" doc:name="GET Contact From Salesforce" doc:id="1a7512a8-d3b7-4f7e-a923-6edfb27b6cdf" config-ref="sfdc-system-http-request-config" path="/query">
				<http:body ><![CDATA[#[output application/json --- vars.PSEducation]]]></http:body>
			</http:request>
		<ee:transform doc:name="Json To Java" doc:id="c78a6736-d0c4-459a-941f-7ad974ba8da7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Payload LOG" doc:id="a0b6f138-f1d6-4e26-bc33-336bef68d3df" message="#[output application/json --- payload]"/>
	</sub-flow>
</mule>
