src/main/mule/ps-to-sfdc-employment.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:sfdc-sapi="http://www.mulesoft.org/schema/mule/sfdc-sapi"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/sfdc-sapi http://www.mulesoft.org/schema/mule/sfdc-sapi/current/mule-sfdc-sapi.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
	<http:listener-config name="HTTP_Listener_config1"
		doc:name="HTTP Listener config" doc:id="245204b9-bf57-42d7-a31b-b665192886ca">
		<http:listener-connection host="0.0.0.0"
			port="8081" />
	</http:listener-config>
	<flow name="pf-employment" doc:id="ffebc1b9-787e-44ff-8720-91d86914a5ef">
		<logger level="INFO" doc:name="LOG START"
			doc:id="81d491e9-788d-4b66-95d2-1f25d84cdede"
			message='#["Employment sync started from PS to SFDC at " ++ vars.lastProcessedTime]' />
		<db:select doc:name="Fetch Data From ps DB" doc:id="c2cf9510-78ac-47ba-96b3-f79ac62c7438"
			config-ref="rpt-db-config">
			<reconnect frequency="10000" count="3" />
			<db:sql>#[p('db.rpt.query.employment')]</db:sql>
			<db:input-parameters><![CDATA[#[{
	"LAST_UPDT_DTTM": vars.lastProcessedTime
}]]]></db:input-parameters>
		</db:select>
		<batch:job jobName="ps-to-sfdc-employment-batch" doc:id="5f5ee033-2e6c-4982-b1b9-b04092128de3">
			<batch:process-records>
				<batch:step name="ps-to-sfdc-employment-sync" doc:id="47d06209-5479-4d13-972e-5ce29181d130">
					<batch:aggregator doc:name="Batch Aggregator"
						doc:id="27b7d45b-0671-48c7-9187-480da66011f3" size="20">
						<logger level="INFO" doc:name="LOG INFO"
							doc:id="82dfceba-64e4-4817-b29a-1d883d06404c" message="Employment records size : #[sizeOf(payload)]" />
						<ee:transform doc:name="DW Set variables"
							doc:id="dad0a24f-82a4-426f-ac34-0455fbd74a71">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
							</ee:message>
							<ee:variables>
								<ee:set-variable variableName="vAuxInsertQuery"><![CDATA["Insert into SYSADM.PS_XC_AQ_AUX_TBL (GUID, XC_AQ_SOURCE, XC_AQ_SOURCE_ID, XC_AQ_SOURCE_TYPE, XC_AQ_DESTINATION, XC_AQ_DEST_ID, XC_AQ_DEST_TYPE, XC_AQ_STATUS, DTTM_CREATED, DTTM_MODIFIED,  XC_AQ_METADATA, DESCR250) values (:GUID, :XC_AQ_SOURCE, :XC_AQ_SOURCE_ID, :XC_AQ_SOURCE_TYPE, :XC_AQ_DESTINATION, :XC_AQ_DEST_ID, :XC_AQ_DEST_TYPE, :XC_AQ_STATUS,  :DTTM_CREATED, :DTTM_MODIFIED, :XC_AQ_METADATA, :DESCR250)"]]></ee:set-variable>
								<ee:set-variable resource="dataweave/vAuxInsertEmployment.dwl" variableName="vAuxInsertPayload" />
							</ee:variables>
						</ee:transform>
						<flow-ref doc:name="Bulk insert to Aux DB" doc:id="07ed27e3-eaeb-40c0-9600-a64f13dae6ea"
							name="cf-aux-insert-bulk" target="vars.EmployentAuxSyncPayload" />
						<logger level="INFO" doc:name="LOG INFO Request"
							doc:id="a516bcaa-abf6-4f3d-ae56-a9faa21070ae" message='Employment record request to system:  #[payload]' />
						<http:request method="POST" doc:name="Call SF System Api"
							doc:id="303eac09-41a4-4303-9162-2560e51368cf" config-ref="sfdc-system-http-request-config"
							path="/employment" >
							<reconnect frequency="10000" count="3" />
						</http:request>
						<logger level="INFO" doc:name="LOG INFO Response"
							doc:id="01bec7d8-6de8-4786-88ec-e9eec77a9d1e" message="Employment record response : #[payload]" />
						<ee:transform doc:name="DW Set variables"
							doc:id="58992e0e-929a-4cf0-8139-69916770755f">
							<ee:message />
							<ee:variables>
								<ee:set-variable variableName="vAuxUpdateQuery"><![CDATA["Update SYSADM.PS_XC_AQ_AUX_TBL set XC_AQ_DESTINATION = 'SFDC', XC_AQ_DEST_ID = :id, XC_AQ_SOURCE_TYPE = :sourceType, XC_AQ_DEST_TYPE = :destType, DT_TIMESTAMP = TO_TIMESTAMP( :now ,'YYYY-MM-DD HH24:MI:SS.FF'), XC_AQ_STATUS = :status, XC_AQ_METADATA = :metadata, DESCR250 = :description
where GUID = :tuuid"]]></ee:set-variable>
								<ee:set-variable resource="dataweave/vAuxUpdateEmployment.dwl" variableName="vAuxUpdatePayload" />
							</ee:variables>
						</ee:transform>
						<flow-ref doc:name="Bulk update to Aux DB" doc:id="a521d21c-1845-4d32-b0c8-85384e6a18eb"
							name="cf-aux-update-bulk" />
						<logger level="INFO" doc:name="LOG END Records"
							doc:id="57fbff7d-5777-40fc-b9cc-64e558fe27d7" message='#["Records synced with SFDC"]' />
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete>
				<ee:transform doc:name="DW Batch summary"
					doc:id="c43a799b-4ba7-4901-b4e6-9d5f4e10699e">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="LOG END Summary"
					doc:id="511daf4e-b4ed-4402-92be-31f21f0d270f"
					message='Employments Sync Completed from PS to SF: Batch Summary: #[payload]' />
			</batch:on-complete>
		</batch:job>
	</flow>
</mule>