src/main/mule/ps-to-sfdc-non-spouses-contact.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	<flow name="pf-non-spouses-contacts-sync" doc:id="26125323-af3a-45ee-af1e-3d85f5aced61">
		<http:listener doc:name="Listener" doc:id="a244c771-acee-4c36-9115-5178dd111617" path="/nspouse" config-ref="HTTP_Listener_config2"/>
		<logger level="INFO" doc:name="LOG INFO Start" doc:id="d6da63cd-6fce-43e6-8f0a-c240b69cc0e6" message='#["Starting Non Spouses sync flow"]' />
		<set-variable value="#[now()]" doc:name="Set Variable current time" doc:id="f9b51ae4-3d5b-4bd6-a62a-66fd4e04bf81" variableName="currentTime_NonSpouses" />
		<os:retrieve doc:name="Retrieve lastProcessedTime_NonSpouses" doc:id="d1e66eef-136f-4760-ba99-450561177bef" key="lastProcessedTime_NonSpouses" objectStore="Object_store" target="lastProcessedTime_NonSpouses">
			<os:default-value ><![CDATA[#[p('default.lastProcessedTime')]]]></os:default-value>
		</os:retrieve>
		<db:select doc:name="Select Non spouses data" doc:id="df876a6c-afb9-4f9e-ad98-68b74e7b0039" config-ref="rpt-db-config" target="DBConData">
			<db:sql>select EMPLID       as &quot;EMPLID&quot;
,XC_AQ_CAE_CATEGORY as &quot;CAE&quot;
,XC_AQ_PRI_CTCT_TYP as &quot;PRIMARYCONTACTTYPE&quot;
,XC_AQ_SEC_CTCT_TYP as &quot;SECONDARYCONTACTTYPE&quot;
,SALUTATION         as &quot;SALUTATION&quot;
,FIRST_NAME         as &quot;FIRST_NAME&quot;
,MIDDLE_NAME        as &quot;MIDDLE_NAME&quot;
,LAST_NAME          as &quot;LAST_NAME&quot;
,NAME_SUFFIX        as &quot;SUFFIX&quot;
,XC_AQ_GENDER       as &quot;GENDER&quot;
,XC_AQ_MAR_STATUS   as &quot;MARTIALSTATUS&quot;
,MAIDEN_NAME        as &quot;MAIDEN_NAME&quot;
,MCF_NICKNAME       as &quot;NICKNAME&quot;
,XC_AQ_BIRTHPLACE   as &quot;BIRTHPLACE&quot;
,BIRTHDATE          as &quot;BIRTHDATE&quot;
,XC_ETHNICITY       as &quot;ETHNICITY&quot;
,MOBILE_PHONE       as &quot;Mobile&quot;
,XC_AQ_OTHER_PHONE  as &quot;Otherphone&quot;
,EMAIL_ADDR         as &quot;EMAIL&quot;
,XC_CS_CAMP_EMAIL   as &quot;BUSINESSEMAIL&quot;
,XC_CS_CSTU_EMAIL   as &quot;SCHOOLEMAIL&quot;
,CONTACTEMAIL       as &quot;OTHEREMAIL&quot;
,XC_AQ_EMAIL_PREF   as &quot;EMAILPREF&quot;
,XC_AQ_ADDR_PREF    as &quot;ADDRESSPREF&quot;
,CAST(LAST_UPDT_DTTM AS DATE) LAST_UPDT_DTTM
,XC_AQ_MAIL_STREET  as &quot;STREET&quot;
,CITY               as &quot;CITY&quot;
,COUNTY             as &quot;COUNTY&quot;
,STATE              as &quot;STATE&quot;
,STATE_DESCR        as &quot;STATEDESC&quot;
,POSTAL             as &quot;POSTAL&quot;
,COUNTRY            as &quot;COUNTRY&quot;
,COUNTRY_DESCR      as &quot;COUNTRYDESC&quot;
,CAST(LAST_UPDATE_DTTM AS DATE)LAST_UPDATE_DTTM
,EMPLID_RELATED     as &quot;RELATEDEMPLID&quot;
,RELATION_DESCR     as &quot;RELATIONSHIP&quot;
,XC_AQ_REVERSE_RELA as &quot;REVRELATIONSHIP&quot;
,START_DT           as &quot;STARTDATE&quot;
,XC_AQ_STARTED      as &quot;STARTED&quot;
,END_DT             as &quot;RELENDDATE&quot;
,XC_AQ_ENDED        as &quot;RELENDED&quot;
,CAST(LAST_DTTM_UPDATE AS DATE)LAST_DTTM_UPDATE
from SYSADM.PS_XC_AQ_NONSPS_VW
where ( LAST_UPDT_DTTM &gt; TO_TIMESTAMP( :LAST_UPDT_DTTM , 'YYYY-MM-DD HH24:MI:SS.FF')
or LAST_UPDATE_DTTM &gt; TO_TIMESTAMP( :LAST_UPDT_DTTM, 'YYYY-MM-DD HH24:MI:SS.FF')
or LAST_DTTM_UPDATE &gt; TO_TIMESTAMP( :LAST_UPDT_DTTM , 'YYYY-MM-DD HH24:MI:SS.FF') ) AND EMPLID = '1195726'</db:sql>
			<db:input-parameters ><![CDATA[#[{
	"LAST_UPDT_DTTM": vars.lastProcessedTime_NonSpouses
}]]]></db:input-parameters>
		</db:select>
		<choice doc:name="Choice" doc:id="ffdbece8-9638-4d33-a82e-f7ea7f3e8e88" >
			<when expression="#[sizeOf(vars.DBConData)&gt;0]">
				<ee:transform doc:name="DW Java To JSON" doc:id="17aef336-d87b-4405-9ef5-1727ba463cd3">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.DBConData]]></ee:set-payload>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="max_LAST_UPDT_DTTM"><![CDATA[(vars.DBConData.LAST_UPDT_DTTM orderBy ($))[sizeOf(vars.DBConData)-1]]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
				<ee:transform doc:name="DW Set AuxDetails" doc:id="dcc64d6a-f447-423c-8bba-94c5d0e99180">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="AuxDetails"><![CDATA[%dw 2.0
output application/json
---
payload map ((indexOfEmpl, emplDetails) -> {
	emplID: indexOfEmpl.EMPLID as String,
	LastUpdatedDate: indexOfEmpl.ACCOUNTLASTUPDATEDTTM as LocalDateTime {format: "yyyy-MM-dd'T'HH:mm:ss"} default ''
})]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
				<logger level="INFO" doc:name="LOG INFO Payload size" doc:id="99cab1f6-4811-4ac8-a98c-7d99b0c0ee63" message="Non spouses payload size : #[sizeOf(payload)]" />
				<foreach doc:name="For Each" doc:id="222cf17f-1d1b-4ac4-afdc-8277891e5c44" collection="#[payload]">
			<ee:transform doc:name="DW Set Payload as an Array" doc:id="6d9c4a2b-bd75-4196-bcd6-2a7331bc8873">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
[payload]]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<flow-ref doc:name="Non spouses flow" doc:id="32b84162-fed1-4e33-8991-b4f3f44a9c5f" name="sf-contacts-non-spouses" />
		</foreach>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Log Info" doc:id="13f975fe-9332-4de1-b469-428cd5076972" message="No new record for Non Spouses"/>
			</otherwise>
		</choice>
		<os:store doc:name="Store lastProcessedTime_NonSpouses" doc:id="822b4369-7d72-4ad9-b17b-fcebf5a6c20f" key="lastProcessedTime_NonSpouses" objectStore="Object_store">
			<os:value ><![CDATA[#[vars.currentTime_NonSpouses]]]></os:value>
		</os:store>
	</flow>
	<sub-flow name="sf-contacts-non-spouses" doc:id="63c77740-4f43-41bc-b44d-7d12fa162d98" >
		<ee:transform doc:name="DW Set Variables" doc:id="799ff089-8182-413f-bac9-8bc2211e5583" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="originalPayload" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
				<ee:set-variable variableName="AuxDataInsert" ><![CDATA[%dw 2.0
output application/json
---
[vars.AuxDetails[(vars.counter default 0)-1]]]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Insert to AUX DB" doc:id="a9d2e1ed-74ac-4f71-be99-d7a039f7576a" name="sf-non-spouses-contacts-ps-aux-sync-insert" />
		<db:select doc:name="Get relationship from PS DB" doc:id="709172e5-1aca-4de5-a59c-bcaf7d828578" config-ref="rpt-db-config" target="dbRelationshipPayload">
			<db:sql >SELECT RELATION_DESCR FROM SYSADM.PS_XC_AQ_INRELA_VW WHERE EMPLID = :emplId
</db:sql>
			<db:input-parameters ><![CDATA[#[{'emplId': vars.originalPayload[0].EMPLID}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="DW Spouse check var" doc:id="89e4fd89-b367-43ea-9684-06c36fc716df" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="spouseBool" ><![CDATA[%dw 2.0
output application/java
---
if(vars.dbRelationshipPayload != null)(if(vars.dbRelationshipPayload.'RELATION_DESCR' contains "Spouse" ) true else false) else false]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<choice doc:name="Choice" doc:id="5218880f-973b-448f-b2b1-900eea9ad140" >
			<when expression="#[vars.spouseBool == false]">
				<flow-ref doc:name="Create account and contact" doc:id="d6f83161-6ffb-49cb-87c1-bce961cd702d" name="pf-ps-to-sfdc-non-spouses-contactFlow" />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="LOG INFO Contact exists" doc:id="504ed26a-6bed-4fd9-a343-89a5e22936c9" message="Account is a spouse. Skipping account and contact creation."/>
			</otherwise>
		</choice>
	</sub-flow>
	<flow name="pf-ps-to-sfdc-non-spouses-contactFlow" doc:id="415beae3-1c85-4069-bd4d-8cb912b33b78" >
		<flow-ref doc:name="Retrieve Phone" doc:id="6f95cb11-0315-4972-9c74-2f968bdaf074" name="get-phone-number-sub-flow" target="phoneNumber" />
		<flow-ref doc:name="Retrieve Mobile Phone" doc:id="b4220956-16b9-44f9-b0fb-8037ca738556" name="sf-get-mobile-phone-number" target="mobileNumber" />
		<ee:transform doc:name="DW Account payload" doc:id="6e84657c-62dd-4c36-a4ed-7d21a76afb96">
						<ee:message>
				<ee:set-payload resource="dataweave/pNSCCreateAccRequest.dwl" />
						</ee:message>
					</ee:transform>
		<logger level="DEBUG" doc:name="LOG INFO Create account" doc:id="0263d5b6-cf41-4319-a909-44a98c102265" message="Creating Non spouses account" />
		<http:request method="POST" doc:name="POST Create Account" doc:id="c5124567-286c-4d22-b49d-d6efc19d6a25" path="${http.request.system.sfdc.path.createAccount}" responseTimeout="120000" target="sfdcAccountsResponse" config-ref="sfdc-system-http-request-config">
			<reconnect />
		</http:request>
		<logger level="INFO" doc:name="LOG INFO Account created" doc:id="b246f0c0-4674-47c1-8a08-622e57cad9b3" message="Created Non spouses account successfully" />
		<ee:transform doc:name="DW Contact payload" doc:id="7c65ac1c-9413-4122-9daf-90f8cb50d4f8">
						<ee:message>
				<ee:set-payload resource="dataweave/pNSCCreatePriNSCRequest.dwl" />
						</ee:message>
					</ee:transform>
		<logger level="INFO" doc:name="LOG INFO Create contact" doc:id="1a975559-5e24-4c85-8c78-195a8a489be2" message="Creating Non spouses contact" />
		<http:request method="POST" doc:name="POST Create Contact" doc:id="91b14def-cf43-4064-8000-12543c27e9c5" path="${http.request.system.sfdc.path.createContact}" responseTimeout="120000" target="sfdcContactsResponse" config-ref="sfdc-system-http-request-config">
			<reconnect />
		</http:request>
		<logger level="INFO" doc:name="LOG INFO Contact created" doc:id="cbd0fd13-a4b0-45dc-b461-3ee3f33d6474" message="Created Non spouses contact successfully" />
		<ee:transform doc:name="DW Update Account payload" doc:id="8fdb3823-a6f7-4aeb-853c-a968a8f90866">
						<ee:message>
				<ee:set-payload resource="dataweave/pNSCCreateSecNSCRequest.dwl" />
						</ee:message>
						<ee:variables />
					</ee:transform>
		<logger level="INFO" doc:name="LOG INFO Update account" doc:id="aef12dde-3aa0-4aaa-ac33-edd12e336464" message="Updating Non spouses contact successfully" />
		<http:request method="POST" doc:name="POST Update Account" doc:id="2bd78883-c95f-4d81-8019-c07b0729811e" path="${http.request.system.sfdc.path.createAccount}" target="sfdcAccountsUpdateResponse" config-ref="sfdc-system-http-request-config">
			<reconnect />
		</http:request>
		<flow-ref doc:name="Update AUX DB" doc:id="cd4b7769-ead9-437d-aff9-e4b593d043dd" name="sf-non-spouses-contacts-ps-aux-sync-update" />
		<logger level="INFO" doc:name="LOG INFO Updated account" doc:id="f53ba24a-6c87-4d61-bd4b-a12488e272c7" message="Updated Non spouses contact successfully" />
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="68cb3487-c941-4b3a-b399-14b1f698cca5" >
				<ee:transform doc:name="Transform Message" doc:id="8030027c-bffc-4230-92ee-dd8d09688578" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="vAuxUpdateQuery" ><![CDATA[p('db.aux.query.NSpouseUpdate')]]></ee:set-variable>
						<ee:set-variable variableName="vAuxUpdatePayload" ><![CDATA[%dw 2.0
fun size(message) =
  if (sizeOf(message) > 245)
    245
  else
    (sizeOf(message) - 1)
output application/json
---
vars.uuid map(value, index) -> {
	"id": vars.sfdcContactsResponse.data[index].id default "NA",
	"tuuid": value,
	"destType": p('auxDBColumns.XC_AQ_DEST_TYPE.contacts'),
	"sourceType": p('auxDBColumns.XC_AQ_SOURCE_TYPE.nonSpouses'),
	"now": now() as String {format: 'yyyy-MM-dd hh:mm:ss.SSS'},
	"status": if(vars.sfdcContactsResponse != null) (if ((vars.sfdcContactsResponse.data[index].success == true))
      "Completed"
    else
      'Error') else 'Error',
	"metadata": if(vars.sfdcContactsResponse != null) (if ((vars.sfdcContactsResponse.data[index].success == true))
      "Record Insert or Updated in SFDC"
    else
      "Error while Insert or Update in SFDC") else "Error while Insert or Update in SFDC",
	"description": if(vars.sfdcContactsResponse != null) (if ((vars.sfdcContactsResponse.data[index].success == true))
      "Non Spouses Contacts Record Insert or Updated in SFDC"
    else if ((vars.sfdcContactsResponse.data[index].success == false))
      ((vars.sfdcContactsResponse.data[index].errors.message) reduce ($$ ++ ' , ' ++ $))[0 to size((vars.sfdcContactsResponse.data[index].errors.message) reduce ($$ ++ ' , ' ++ $))]
    else
      "Error Occurred") else if (error.description != null) (error.description) else "Error while Insert or Update in SFDC"
}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<flow-ref doc:name="Aux DB update" doc:id="8dd8ff1c-9bc1-4bd1-a9d1-b8899158a4d7" name="cf-aux-update-bulk"/>
			</on-error-continue>
		</error-handler>
	</flow>
	<!-- <flow name="pf-ps-to-sfdc-non-spouses-relationshipFlow" doc:id="921e1935-2e2f-4c69-92ea-d2db2b515822" >
		<ee:transform doc:name="DW Set original payload" doc:id="9b791420-551a-4803-ac53-0de16c8267fd">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output application/json
-&#45;&#45;
vars.originalPayload]]></ee:set-payload>
						</ee:message>
					</ee:transform>
		<logger level="INFO" doc:name="LOG INFO Create Relationship" doc:id="a4af43b3-6722-4c10-af40-8190965d7680" message="Creating Non spouses relationship" />
		<http:request method="POST" doc:name="POST Create Relationship" doc:id="24b2323b-26dc-48d5-94aa-394ad3253551" path="${http.request.system.sfdc.path.createRelationship}" config-ref="sfdc-system-http-request-config" target="sfdcRelationshipResponse">
			<reconnect />
		</http:request>
		<logger level="INFO" doc:name="LOG INFO Created Relationship" doc:id="a8b38927-27f9-45a4-bb9a-a5ba3faa9cb1" message="Created Non spouses relationship successfully" />
		<logger level="INFO" doc:name="LOG END flow" doc:id="883ddefa-58f5-41d1-94da-05006dd0358f" message="Non Spouses Sync Completed Successfully." />
	</flow> -->
	<sub-flow name="sf-get-mobile-phone-number" doc:id="ded2c825-810b-4bf7-95fe-2a9333e4c69f" >
		<logger level="INFO" doc:name="Log Info" doc:id="7af25bb8-f1e9-402f-9b7b-96cead05b046" message="Retriving mobile phone for EmplId : #[vars.originalPayload[0].'EMPLID']"/>
		<db:select doc:name="get mobile number" doc:id="5d5d6565-de54-4d1a-b1be-4ea0fb61998b" config-ref="rpt-db-config">
			<db:sql >SELECT PHONE FROM SYSADM.PS_XC_AQ_PHONE_VW WHERE EMPLID = :emplId AND SCC_PHONETYP_DESC ='Mobile'</db:sql>
			<db:input-parameters ><![CDATA[#[{
	'emplId': vars.originalPayload[0].EMPLID, 
}]]]></db:input-parameters>
		</db:select>
		<logger level="INFO" doc:name="Log Info" doc:id="368a227e-7dc2-438e-af66-d9f09cb855c4" message="Retrieved mobile phone : #[output application/json --- payload]"/>
	</sub-flow>
	<sub-flow name="get-phone-number-sub-flow" doc:id="0d942817-12e9-46d0-a4b7-afa47ce26271" >
		<logger level="INFO" doc:name="Log Info" doc:id="af001cb1-f65d-4374-b6ff-7621cbd07a9a" message="Retriving phone for EmplId : #[vars.originalPayload[0].'EMPLID']"/>
		<db:select doc:name="Select Phone from Phone View" doc:id="660c72b8-eb87-48d3-af3c-36ece9083967" config-ref="rpt-db-config">
			<db:sql >SELECT PHONE FROM SYSADM.PS_XC_AQ_PHONE_VW WHERE EMPLID = :emplId AND SCC_PHONETYP_DESC = :phoneType</db:sql>
			<db:input-parameters ><![CDATA[#[{
	'emplId': vars.originalPayload[0].EMPLID, 
	'phoneType': if(vars.originalPayload[0].PRIMARYCONTACTTYPE == "Employee" or vars.originalPayload[0].SECONDARYCONTACTTYPE == "Employee") "Home" else "Main"
}]]]></db:input-parameters>
		</db:select>
		<choice doc:name="Choice" doc:id="69569b25-5406-4ec2-a0b0-cf3b331d03dc" >
			<when expression="#[payload == null or payload ==[]]">
				<db:select doc:name="Select Phone from Phone View" doc:id="567b9cc0-28e7-41f1-8b94-5b9daa7bd323" config-ref="rpt-db-config">
					<db:sql >SELECT PHONE FROM SYSADM.PS_XC_AQ_PHONE_VW WHERE EMPLID = :emplId AND SCC_PHONETYP_DESC = :phoneType</db:sql>
					<db:input-parameters ><![CDATA[#[{
	'emplId': vars.originalPayload[0].EMPLID, 
	'phoneType': if(vars.originalPayload[0].PRIMARYCONTACTTYPE == "Employee" or vars.originalPayload[0].SECONDARYCONTACTTYPE == "Employee") "Main" else "Home"
}]]]></db:input-parameters>
				</db:select>
			</when>
		</choice>
		<logger level="INFO" doc:name="Log Info" doc:id="f66de26c-26a6-4de3-9fb1-62502b2b14ee" message="Retrieved phone : #[output application/json --- payload]"/>
	</sub-flow>
	<sub-flow name="sf-non-spouses-contacts-ps-aux-sync-insert" doc:id="919e5b59-58f6-4aa2-bc81-228f69e7cfd3" >
		<set-variable value="#[output application/json --- vars.AuxDataInsert map ((uuid()[0 to 7]) ++ (uuid()[9]))]" doc:name="Set UUID" doc:id="36326e84-dff4-4ae4-8db0-aab88021c655" variableName="uuid" />
		<ee:transform doc:name="DW Aux Insert vars" doc:id="fe13dda1-33ae-46f5-a94a-e6e13732f0f0" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable resource="dataweave/vAuxInsertQueryNSpouse.dwl" variableName="vAuxInsertQuery" />
				<ee:set-variable resource="dataweave/pNSCAuxDbInsert.dwl" variableName="vAuxInsertPayload" />
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Aux DB Insert" doc:id="4b2d9c66-32f6-4873-ac58-8dc3e16c19fd" name="cf-aux-insert-bulk" target="response"/>
		<!-- <db:bulk-insert doc:name="Bulk Insert Into AUX db" doc:id="a54569e7-4ff7-43a6-8e16-0b335fe0980d" config-ref="aux-db-config" target="response" >
			<db:sql >Insert into SYSADM.PS_XC_AQ_AUX_TBL (GUID, XC_AQ_SOURCE, XC_AQ_SOURCE_ID, XC_AQ_SOURCE_TYPE, XC_AQ_DESTINATION, XC_AQ_DEST_ID, XC_AQ_DEST_TYPE, XC_AQ_STATUS, DTTM_CREATED, DTTM_MODIFIED,  XC_AQ_METADATA, DESCR250) values (:GUID, :XC_AQ_SOURCE, :XC_AQ_SOURCE_ID, :XC_AQ_SOURCE_TYPE, :XC_AQ_DESTINATION, :XC_AQ_DEST_ID, :XC_AQ_DEST_TYPE, :XC_AQ_STATUS,  :DTTM_CREATED, :DTTM_MODIFIED, :XC_AQ_METADATA, :DESCR250)</db:sql>
		</db:bulk-insert> -->
	</sub-flow>
	<sub-flow name="sf-non-spouses-contacts-ps-aux-sync-update" doc:id="e3b4bd31-de34-46e1-8dcb-f2a5ebd9d570" >
		<logger level="INFO" doc:name="Log Info" doc:id="17529387-4f6a-45a9-b345-b39c06a3f263" message="Bulk update"/>
		<ee:transform doc:name="DW Aux Update vars" doc:id="78312f16-3cea-407c-8b37-22e5f5b432c3" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable resource="dataweave/vAuxUpdateQueryNSpouse.dwl" variableName="vAuxUpdateQuery" />
				<ee:set-variable resource="dataweave/pNSCAuxDbUpdate.dwl" variableName="vAuxUpdatePayload" />
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Aux DB Update" doc:id="fecb6d7d-437f-4816-a3ae-fb467ace6849" name="cf-aux-update-bulk" target="response"/>
		<!-- <db:bulk-update doc:name="Bulk Update Into AUX db" doc:id="ecb57b98-3a66-4f24-aa54-d65f49564cbb" config-ref="aux-db-config" target="response" >
			<db:sql >Update SYSADM.PS_XC_AQ_AUX_TBL set XC_AQ_DESTINATION = 'SFDC',XC_AQ_DEST_ID = :id,XC_AQ_DEST_TYPE=:destType,DT_TIMESTAMP = :now,XC_AQ_STATUS = :status,XC_AQ_METADATA = :metadata,DESCR250 = :description,XC_AQ_SOURCE_TYPE = :sourceType where GUID= :tuuid</db:sql>
		</db:bulk-update> -->
	</sub-flow>
</mule>