src/main/mule/ps-to-sfdc-spouses-contact.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config2" doc:name="HTTP Listener config" doc:id="66a7bc9c-ac9c-46c4-a501-96d54beb4939" >
		<http:listener-connection host="0.0.0.0" port="8085" />
	</http:listener-config>
	<flow name="pf-spouses-contacts-sync" doc:id="26125323-af3a-45ee-af1e-3d85f5aced61">
		<http:listener doc:name="Listener" doc:id="d7d7a072-1647-4c46-96d3-92adc3d77fea" config-ref="HTTP_Listener_config2" path="/spouse"/>
		<logger level="INFO" doc:name="LOG START" doc:id="d6da63cd-6fce-43e6-8f0a-c240b69cc0e6" message='#["Starting Spouses sync batch"]' />
		<set-variable value="#['1920-08-27 13:50:40.50']" doc:name="Set Variable" doc:id="9e3f914c-65cf-4419-ba50-3bb8d4d9aa08" variableName="lastProcessedTime"/>
		<db:select doc:name="Select spouses Contacts data from PS db" doc:id="df876a6c-afb9-4f9e-ad98-68b74e7b0039" config-ref="rpt-db-config" target="DBConData">
			<reconnect frequency="10000" count="3" />
			<db:sql>select ALIASNAME    as &quot;AccountName&quot;
,EMPLID             as &quot;EmplID&quot;
,XC_AQ_CAE_CATEGORY as &quot;Emp_CAE&quot;
,XC_AQ_PRI_CTCT_TYP as &quot;PrimaryContactType&quot;
,XC_AQ_SEC_CTCT_TYP as &quot;SecondaryContactTypes&quot;
,SALUTATION         as &quot;Salutation&quot;
,FIRST_NAME         as &quot;FirstName&quot;
,MIDDLE_NAME        as &quot;MiddleName&quot;
,LAST_NAME          as &quot;LastName&quot;
,NAME_SUFFIX        as &quot;Suffix&quot;
,XC_AQ_GENDER       as &quot;Gender&quot;
,XC_AQ_MAR_STATUS   as &quot;MaritalStatus&quot;
,MAIDEN_NAME        as &quot;MaidenName&quot;
,MCF_NICKNAME       as &quot;Nickname&quot;
,XC_AQ_BIRTHPLACE   as &quot;Birthplace&quot;
,BIRTHDATE          as &quot;Birthdate&quot;
,XC_ETHNICITY       as &quot;Ethnicity&quot;
,MOBILE_PHONE       as &quot;Mobile&quot;
,XC_AQ_OTHER_PHONE  as &quot;Otherphone&quot;
,EMAIL_ADDR         as &quot;Email&quot;
,XC_CS_CAMP_EMAIL   as &quot;BusinessEmail&quot;
,XC_CS_CSTU_EMAIL   as &quot;SchoolEmail&quot;
,CONTACTEMAIL       as &quot;OtherEmail&quot;
,XC_AQ_EMAIL_PREF   as &quot;EmailPreference&quot;
,XC_AQ_ADDR_PREF    as &quot;AddressPref&quot;
,CAST(LAST_UPDT_DTTM AS DATE)LAST_UPDT_DTTM
,EMPLID2            as &quot;SpouseEmplID&quot;
,XC_AQ_CAE_CATGY_SP as &quot;SpouseCAE&quot;
,XC_AQ_PRI_CTCTYPSP as &quot;SpousePrimaryContactType&quot;
,XC_AQ_SEC_CTCTYPSP as &quot;SpouseSecondaryContactTypes&quot;
,DESCR20            as &quot;SpouseSalutation&quot;
,FIRST_NAME_TOEFL   as &quot;SpouseFirstName&quot;
,MIDDLE_NAME_TOEFL  as &quot;SpouseMiddleName&quot;
,LAST_NAME_TOEFL    as &quot;SpouseLastName&quot;
,DESCR15            as &quot;SpouseSuffix&quot;
,XC_AQ_GENDER_SP    as &quot;SpouseGender&quot;
,XC_AQ_MAR_STA_SP   as &quot;SpouseMaritalStatus&quot;
,NAME_GREET         as &quot;SpouseMaidenName&quot;
,SSF_ACCT_NICKNAME  as &quot;SpouseNickname&quot;
,XC_AQ_BIRTHPL_SP   as &quot;SpouseBirthplace&quot;
,BIRTHDATE_WRK      as &quot;SpouseBirthdate&quot;
,XC_ETHNICITY_FED   as &quot;SpouseEthnicity&quot;
,TAC_MOBILE_PHONE   as &quot;SpouseMobile&quot;
,OTHER_PHONE_LONG   as &quot;SpouseOtherphone&quot;
,EMAIL_ADDR2        as &quot;SpouseEmail&quot;
,XC_HR_CAMP_EMAIL   as &quot;SpouseBusinessEmail&quot;
,XC_HR_CSTU_EMAIL   as &quot;SpouseSchoolEmail&quot;
,SSR_EMAIL_ADDR     as &quot;SpouseOtherEmail&quot;
,XC_AQ_EMAIL_PRF_SP as &quot;SpouseEmailPreference&quot;
,CAST(LAST_CHANGED_DTTM AS DATE)LAST_CHANGED_DTTM
,XC_AQ_MAIL_STREET  as &quot;PermStreet&quot;
,CITY               as &quot;PermCity&quot;
,COUNTY             as &quot;PermCounty&quot;
,STATE              as &quot;PermState&quot;
,STATE_DESCR        as &quot;PermStateDescr&quot;
,POSTAL             as &quot;PermPostal_Zip&quot;
,COUNTRY            as &quot;PermCountryId&quot;
,COUNTRY_DESCR      as &quot;PermCountry&quot;
,CAST(LAST_UPDATE_DTTM AS DATE)LAST_UPDATE_DTTM
,START_DT           as &quot;RelatedStartDate&quot;
,XC_AQ_STARTED      as &quot;RelatedStart&quot;
,END_DT             as &quot;RelatedEndDate&quot;
,XC_AQ_ENDED        as &quot;RelatedEnd&quot;
,CAST(LAST_DTTM_UPDATE AS DATE)LAST_DTTM_UPDATE
from SYSADM.PS_XC_AQ_SPOUSE_VW
where  EMPLID in ('0180903') and ( LAST_UPDT_DTTM &gt; TO_TIMESTAMP( :LAST_UPDT_DTTM , 'YYYY-MM-DD HH24:MI:SS.FF')
or LAST_CHANGED_DTTM &gt; TO_TIMESTAMP( :LAST_UPDT_DTTM , 'YYYY-MM-DD HH24:MI:SS.FF')
or LAST_UPDATE_DTTM &gt; TO_TIMESTAMP( :LAST_UPDT_DTTM , 'YYYY-MM-DD HH24:MI:SS.FF')
or LAST_DTTM_UPDATE &gt; TO_TIMESTAMP( :LAST_UPDT_DTTM , 'YYYY-MM-DD HH24:MI:SS.FF') )</db:sql>
			<db:input-parameters ><![CDATA[#[{
	"LAST_UPDT_DTTM": vars.lastProcessedTime
}]]]></db:input-parameters>
		</db:select>
		<choice doc:name="Choice" doc:id="37a8f8bf-5d4c-4d55-ae2d-5be4d9ba7372" >
			<when expression="#[sizeOf(vars.DBConData)&gt;0]">
				<ee:transform doc:name="DW Java to JSON" doc:id="17aef336-d87b-4405-9ef5-1727ba463cd3">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.DBConData]]></ee:set-payload>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="max_LAST_UPDT_DTTM"><![CDATA[(vars.DBConData.LAST_UPDATE_DTTM orderBy ($))[sizeOf(vars.DBConData)-1]]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
				<ee:transform doc:name="DW Set AuxDetails" doc:id="dcc64d6a-f447-423c-8bba-94c5d0e99180">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable resource="dataweave/vSCAuxDetails.dwl" variableName="AuxDetails" />
			</ee:variables>
		</ee:transform>
				<logger level="INFO" doc:name="LOG INFO Transformed Resultset" doc:id="3422a71e-fb54-423c-9b1f-a01421ef5a00" message="#[output application/json --- payload]" />
				<logger level="INFO" doc:name="LOG INFO payload size" doc:id="99cab1f6-4811-4ac8-a98c-7d99b0c0ee63" message="SpousesContacts records size from PS db : #[sizeOf(payload)]" />
				<foreach doc:name="For Each" doc:id="222cf17f-1d1b-4ac4-afdc-8277891e5c44" collection="#[payload]">
			<ee:transform doc:name="DW Set Payload as an Array" doc:id="6d9c4a2b-bd75-4196-bcd6-2a7331bc8873">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
[payload]]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<flow-ref doc:name="Flow Ref pf-to-sfdc-spouses-contact" doc:id="32b84162-fed1-4e33-8991-b4f3f44a9c5f" name="pf-ps-to-sfdc-spouses-contactFlow" />
		</foreach>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Log Info" doc:id="ee5d8a90-d5a2-4829-b3bf-d49ad454fa46" message="No new record for Spouses"/>
			</otherwise>
		</choice>
	</flow>
	<flow name="pf-ps-to-sfdc-spouses-contactFlow" doc:id="9ef9a025-631d-4e5c-b41c-fd90c4bea037" >
		<logger level="INFO" doc:name="LOG START" doc:id="37e1536d-0b54-49c0-818d-e7627efd81a8" message="SpousesContacts record request: #[payload]" />
		<ee:transform doc:name="DW Set Variables AuxDataInsert and originalPayload" doc:id="799ff089-8182-413f-bac9-8bc2211e5583">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="originalPayload"><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
				<ee:set-variable variableName="AuxDataInsert"><![CDATA[%dw 2.0
output application/json
---
[vars.AuxDetails[(vars.counter default 0)-1]]]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Flow Ref sf-spouses-contacts-ps-aux-sync-insert" doc:id="a9d2e1ed-74ac-4f71-be99-d7a039f7576a" name="sf-spouses-contacts-ps-aux-sync-insert" />
		<flow-ref doc:name="Retrieve Phone No." doc:id="21972d1f-8fe7-4fc6-a4ca-e8d6631ee44e" target="phoneNumber" name="get-phone-number-for-spouse" />
		<flow-ref doc:name="Retrieve Mobile Phone No." doc:id="dccbc164-19e9-4f27-ad8e-71f371b84893" name="get-mobile-phone" target="mobileNumber" />
		<ee:transform doc:name="DW Set Payload" doc:id="6e84657c-62dd-4c36-a4ed-7d21a76afb96">
						<ee:message>
				<ee:set-payload resource="dataweave/pSCCreateAccRequest.dwl" />
						</ee:message>
					</ee:transform>
		<logger level="DEBUG" doc:name="LOG INFO Accounts payload" doc:id="0263d5b6-cf41-4319-a909-44a98c102265" message="#[payload]" />
		<http:request method="POST" doc:name="POST Create Accounts" doc:id="c5124567-286c-4d22-b49d-d6efc19d6a25" path="${http.request.system.sfdc.path.createAccount}" responseTimeout="120000" target="sfdcAccountsResponse" config-ref="sfdc-system-http-request-config">
			<reconnect frequency="10000" count="3" />
		</http:request>
		<logger level="INFO" doc:name="LOG INFO Accounts created" doc:id="b246f0c0-4674-47c1-8a08-622e57cad9b3" message="Spouses Account creation completed! " />
		<ee:transform doc:name="DW Set Payload" doc:id="7c65ac1c-9413-4122-9daf-90f8cb50d4f8">
						<ee:message>
				<ee:set-payload resource="dataweave/pSCCreatePrimarySCRequest.dwl" />
						</ee:message>
					</ee:transform>
		<http:request method="POST" doc:name="POST  Create Primary Spouse Contact" doc:id="91b14def-cf43-4064-8000-12543c27e9c5" path="${http.request.system.sfdc.path.createContact}" responseTimeout="120000" target="sfdcPrimaryContactsResponse" config-ref="sfdc-system-http-request-config">
			<reconnect frequency="10000" count="3" />
		</http:request>
		<ee:transform doc:name="DW Set Payload" doc:id="b2626fc0-2594-47a1-976f-821fc05d23a9">
			<ee:message>
				<ee:set-payload resource="dataweave/pSCCreateSecSCRequest.dwl" />
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="POST  Create Secondary Spouse Contact" doc:id="31dffc46-4757-4651-889f-c79ae48ec5ef" config-ref="sfdc-system-http-request-config" path="${http.request.system.sfdc.path.createContact}" responseTimeout="120000" target="sfdcSecondaryContactsResponse">
			<reconnect frequency="10000" count="3" />
		</http:request>
		<ee:transform doc:name="DW Set Payload" doc:id="8fdb3823-a6f7-4aeb-853c-a968a8f90866">
						<ee:message>
				<ee:set-payload resource="dataweave/pSCAccUpdateRequest.dwl" />
						</ee:message>
						<ee:variables />
					</ee:transform>
		<http:request method="POST" doc:name="POST Account Update" doc:id="2bd78883-c95f-4d81-8019-c07b0729811e" path="${http.request.system.sfdc.path.createAccount}" target="sfdcAccountsUpdateResponse" config-ref="sfdc-system-http-request-config">
			<reconnect frequency="10000" count="3" />
		</http:request>
		<flow-ref doc:name="Flow Ref sf-spouses-contacts-ps-aux-sync-update" doc:id="cd4b7769-ead9-437d-aff9-e4b593d043dd" name="sf-spouses-contacts-ps-aux-sync-update" />
		<logger level="INFO" doc:name="LOG END  Spouses End" doc:id="9a832b6a-224f-4b68-9856-4b2e7b7bf0f2" message="Spouses Conatct Sync Completed Successfully." />
	</flow>
	<sub-flow name="get-mobile-phone" doc:id="a9d31a9e-dd1c-420a-b151-bf3df4bf084d" >
		<logger level="INFO" doc:name="Log Info" doc:id="ce05164e-0f6f-4dfd-9b9a-c21ac5cac534" message="Retriving mobile phone for EmplId : #[vars.originalPayload[0].'EMPLID']"/>
		<db:select doc:name="Get Mobile Phone" doc:id="d14b0037-4a4c-47fc-bb45-766903c6ca0f" config-ref="rpt-db-config">
			<db:sql >SELECT PHONE FROM SYSADM.PS_XC_AQ_PHONE_VW WHERE EMPLID = :emplId AND SCC_PHONETYP_DESC ='Mobile'</db:sql>
			<db:input-parameters ><![CDATA[#[{
	'emplId': vars.originalPayload[0].EmplID 
	
	}]]]></db:input-parameters>
		</db:select>
		<logger level="INFO" doc:name="Log Info" doc:id="2904faf1-e91f-464c-a82d-da8da5fef4dd" message="Retrieved phone number : #[output application/json --- payload]"/>
	</sub-flow>
	<sub-flow name="get-phone-number-for-spouse" doc:id="3249d810-a9a9-4785-9f3f-8f22c3bf2b5d" >
		<logger level="INFO" doc:name="Log Info" doc:id="b0b113f6-0ecb-4e8b-a39b-7dec75083e95" message="Retriving phone for EmplId : #[vars.originalPayload[0].'EMPLID']"/>
		<db:select doc:name="Get Phone No. from Phone view" doc:id="124d0120-fc4d-4531-9981-e4d1c5e34d1e" config-ref="rpt-db-config">
			<db:sql >SELECT PHONE FROM SYSADM.PS_XC_AQ_PHONE_VW WHERE EMPLID = :emplId AND SCC_PHONETYP_DESC = :phoneType</db:sql>
			<db:input-parameters ><![CDATA[#[{
	'emplId': vars.originalPayload[0].EmplID,
    'phoneType': if(vars.originalPayload[0].PRIMARYCONTACTTYPE == "Employee" or vars.originalPayload[0].SECONDARYCONTACTTYPE == "Employee") "Home" else "Main"
}]]]></db:input-parameters>
		</db:select>
		<choice doc:name="Choice" doc:id="1fca6788-5149-4e84-ba70-221c59d7fade" >
			<when expression="#[payload == null or payload == []]">
				<db:select doc:name="Get Phone No. from Phone view" doc:id="f1ef55ca-d2d9-411e-8c48-75f37f8c7669" config-ref="rpt-db-config">
					<db:sql >SELECT PHONE FROM SYSADM.PS_XC_AQ_PHONE_VW WHERE EMPLID = :emplId AND SCC_PHONETYP_DESC = :phoneType</db:sql>
					<db:input-parameters ><![CDATA[#[{
	'emplId': vars.originalPayload[0].EmplID,
    'phoneType': if(vars.originalPayload[0].PRIMARYCONTACTTYPE == "Employee" or vars.originalPayload[0].SECONDARYCONTACTTYPE == "Employee") "Main" else "Home"
}]]]></db:input-parameters>
				</db:select>
			</when>
		</choice>
		<logger level="INFO" doc:name="Log Info" doc:id="70ceec41-27c7-4335-b74d-753a37c3bed4" message="Retrieved phone number : #[output application/json --- payload]"/>
	</sub-flow>
	<sub-flow name="sf-spouses-contacts-ps-aux-sync-insert" doc:id="919e5b59-58f6-4aa2-bc81-228f69e7cfd3" >
		<set-variable value="#[output application/json --- vars.AuxDataInsert map ((uuid()[0 to 7]) ++ (uuid()[9]))]" doc:name="SET FV uuid" doc:id="36326e84-dff4-4ae4-8db0-aab88021c655" variableName="uuid" />
		<ee:transform doc:name="DW Set Payload" doc:id="9e197ea2-866c-474d-95ab-90464f84bb87">
			<ee:message>
			</ee:message>
			<ee:variables >
				<ee:set-variable resource="dataweave/vAuxInsertQuerySpouseInsert.dwl" variableName="vAuxInsertQuery" />
				<ee:set-variable resource="dataweave/pSCAuxDbInsert.dwl" variableName="vAuxInsertPayload" />
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Flow Ref to cf-aux-insert-bulk" doc:id="db2c04e4-4771-43f3-8ba2-4ae1247e144e" name="cf-aux-insert-bulk" target="InsertAuxResult"/>
		<!-- <db:bulk-insert doc:name="Bulk Insert Into AUX db" doc:id="c7c24b25-dd8c-4fad-a425-0f9a282f522b" config-ref="aux-db-config" target="response">
			<db:sql>Insert into SYSADM.PS_XC_AQ_AUX_TBL (GUID, XC_AQ_SOURCE, XC_AQ_SOURCE_ID, XC_AQ_SOURCE_TYPE, XC_AQ_DESTINATION, XC_AQ_DEST_ID, XC_AQ_DEST_TYPE, XC_AQ_STATUS, DTTM_CREATED, DTTM_MODIFIED,  XC_AQ_METADATA, DESCR250) values (:GUID, :XC_AQ_SOURCE, :XC_AQ_SOURCE_ID, :XC_AQ_SOURCE_TYPE, :XC_AQ_DESTINATION, :XC_AQ_DEST_ID, :XC_AQ_DEST_TYPE, :XC_AQ_STATUS,  :DTTM_CREATED, :DTTM_MODIFIED, :XC_AQ_METADATA, :DESCR250)</db:sql>
		</db:bulk-insert> -->
		<logger level="INFO" doc:name="LOG INFO" doc:id="96847c92-8ac7-438a-94b2-240ab19d90ef" message="Status of Bulk Insert: #[output application/json --- vars.response]" />
	</sub-flow>
	<sub-flow name="sf-spouses-contacts-ps-aux-sync-update" doc:id="e3b4bd31-de34-46e1-8dcb-f2a5ebd9d570" >
		<ee:transform doc:name="DW Set Payload" doc:id="9303c14c-5689-4ad4-a234-7f86fe19e4d0" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable resource="dataweave/pSCAuxDbUpdate.dwl" variableName="vAuxUpdatePayload" />
				<ee:set-variable resource="dataweave/vAuxUpdateQuerySpouse.dwl" variableName="vAuxUpdateQuery" />
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Flow Ref to cf-aux-update-bulk" doc:id="86555662-7cab-4ee2-b6e4-5af2deebe1ca" name="cf-aux-update-bulk" target="UpdateAuxResponse"/>
		<!-- <db:bulk-update doc:name="Bulk Update Into AUX db" doc:id="8a816248-9c82-4d59-9518-995fd1bf4ab0" config-ref="aux-db-config" target="response" >
			<db:sql >Update SYSADM.PS_XC_AQ_AUX_TBL set XC_AQ_DESTINATION = 'SFDC',XC_AQ_DEST_ID = :id,XC_AQ_DEST_TYPE=:destType,DT_TIMESTAMP = :now,XC_AQ_STATUS = :status,XC_AQ_METADATA = :metadata,DESCR250 = :description,XC_AQ_SOURCE_TYPE = :sourceType where GUID= :tuuid</db:sql>
		</db:bulk-update> -->
		<logger level="INFO" doc:name="LOG INFO Rows updated" doc:id="3df2dfb2-74aa-4e7e-bb7c-d537aa40de01" message="Result Updated: #[vars.response] " />
	</sub-flow>
</mule>
