src/main/mule/ps-to-sfdc-employment.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:sfdc-sapi="http://www.mulesoft.org/schema/mule/sfdc-sapi" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/sfdc-sapi http://www.mulesoft.org/schema/mule/sfdc-sapi/current/mule-sfdc-sapi.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	<flow name="pf-employment" doc:id="992a184e-00b8-499f-b02a-b29f96f99876" initialState="started">
		<scheduler doc:name="Scheduler" doc:id="3e402623-6682-448b-973f-38a10f0f3fcc" >
			<scheduling-strategy >
				<fixed-frequency timeUnit="MINUTES"/>
			</scheduling-strategy>
		</scheduler>
		<logger level="INFO" doc:name="LOG START" doc:id="f3b2041d-719f-46c9-aa2c-f4a7ae584faa" message='#["Employment sync started from PS to SFDC at " ++ now()]'/>
		<os:retrieve doc:name="os retrieve empl_lastProcessedTime" doc:id="2564cdca-a454-4c64-bf5e-9e4e644bce9a" key="lastProcessedTime" target="lastProcessedTime" objectStore="Object_store">
			<os:default-value ><![CDATA[2020-07-09 00:43:45]]></os:default-value>
		</os:retrieve>
		<db:select doc:name="Fetch Count from PeopleSoft db" doc:id="4fcafee7-5de6-41ff-a30d-fd2146c78b37" config-ref="rpt-db-config">
			<db:sql >select count(*) cnt from sysadm.PS_XC_AQ_EMPLOY_VW 
 where LAST_UPDT_DTTM &gt; TO_TIMESTAMP( :LAST_UPDT_DTTM , 'YYYY-MM-DD HH24:MI:SS.FF')</db:sql>
			<db:input-parameters ><![CDATA[#[{
	"LAST_UPDT_DTTM": vars.lastProcessedTime
}]]]></db:input-parameters>
		</db:select>
		<choice doc:name="Check Count" doc:id="1efeed16-5df0-4ab5-8ae0-7c2b39490a69" >
			<when expression="#[payload[0].CNT &gt; 0]">
				<ee:transform doc:name="DW Set Variables max_LAST_UPDT_DTTM and batch_size" doc:id="e004780f-9cc2-43c9-8c83-a1cef69fca49">
					<ee:message>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="batch_size" ><![CDATA[20 as Number]]></ee:set-variable>
						<ee:set-variable variableName="max_LAST_UPDT_DTTM" ><![CDATA['']]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<logger level="INFO" doc:name="LOG INFO" doc:id="982765b6-d9ed-4c00-9363-9a08132cf70a" message='#["Number of records for sync: " ++ (payload[0].CNT default 0)]'/>
				<set-variable value="#[1 to ceil((payload[0].CNT default 0)/ vars.batch_size)]" doc:name="SET FV batch_list" doc:id="42179b0a-9235-477b-a0d8-9b509bbd64b9" variableName="batch_list"/>
				<foreach doc:name="For Each" doc:id="db931730-e1e8-4ee2-a33e-4ad8d5cc886f" collection="#[vars.batch_list]">
					<logger level="INFO" doc:name="LOG INFO" doc:id="933637cf-f85f-405f-8189-adb7c375327d" message='#["Fetching the records for batch: " ++ vars.counter]'/>
					<db:select doc:name="Fetch Batch Data From PeopleSoft db" doc:id="b3a51809-bd74-495a-8046-26631a3f400a" config-ref="rpt-db-config">
						<db:sql >SELECT EMPLID,EMPLOYER,END_DT,XC_AQ_ENDED,START_DT,XC_AQ_STARTED,SCC_STATUS_DESCR,BUSINESS_TITLE,DEPTID,DEPTNAME,REPORTS_TO_DEPT,ROLLUP_NAME,LAST_UPDT_DTTM FROM (
  SELECT EMPLID,EMPLOYER,END_DT,XC_AQ_ENDED,START_DT,XC_AQ_STARTED,SCC_STATUS_DESCR,BUSINESS_TITLE,DEPTID,DEPTNAME,REPORTS_TO_DEPT,ROLLUP_NAME,LAST_UPDT_DTTM, RANK() OVER (ORDER BY EMPLID , LAST_UPDT_DTTM) as my_rank
  FROM sysadm.PS_XC_AQ_EMPLOY_VW 
  where LAST_UPDT_DTTM &gt; TO_TIMESTAMP( :LAST_UPDT_DTTM , 'YYYY-MM-DD HH24:MI:SS.FF')
  )
WHERE my_rank &gt;= :start_offset AND my_rank &lt;= :end_offset</db:sql>
						<db:input-parameters ><![CDATA[#[{
	"LAST_UPDT_DTTM": vars.lastProcessedTime,
	"start_offset": ((vars.counter-1)* vars.batch_size) + 1,
	"end_offset": ((vars.counter-1) * vars.batch_size) + vars.batch_size
}]]]></db:input-parameters>
					</db:select>
					<ee:transform doc:name="DW Java to JSON" doc:id="9c01ec80-d797-417e-a5f3-201f1b5904b1" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
						</ee:message>
						<ee:variables >
							<ee:set-variable variableName="max_LAST_UPDT_DTTM" ><![CDATA[(payload.LAST_UPDT_DTTM orderBy ($))[sizeOf(payload)-1]]]></ee:set-variable>
							<ee:set-variable variableName="aux_data_insert" ><![CDATA[%dw 2.0
output application/json
---
payload map(value, index) ->{
	"source": "PS-CS",
	"source_id": value.EMPLID default '',
	"metadata": "CS to SFDC",
	"description": "Employee data transfer from Campus Solution to SFDC"
}]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
					<flow-ref doc:name="Flow Ref sf-aux-insert" doc:id="7c082f78-90c0-4acd-a169-fe3c04cc2700" name="sf-aux-insert"/>
					<logger level="INFO" doc:name="LOG INFO" doc:id="ecad219f-1355-4a33-b86c-347517cc271d" message="#[payload]"/>
					<try doc:name="Try" doc:id="84482ab2-853c-4b50-a808-cb042b2b4d4d" >
						<logger level="INFO" doc:name="LOG INFO Sync Start" doc:id="5fe624c7-b9a2-453d-9fb1-dd8d97b5ef05" message='#["Sending request to system api to sync Employments for batch: " ++ vars.counter]'/>
						<http:request method="POST" doc:name="POST Employments Upsert" doc:id="57b15b36-231c-4ecb-ad14-af976d3870b7" config-ref="sfdc-system-http-request-config" path="/employment"/>
						<logger level="INFO" doc:name="LOG INFO response" doc:id="97893dbb-815e-4b2b-8a84-98763429e369" message="#[payload]"/>
						<choice doc:name="Check Errors" doc:id="cb9b6adc-efb8-4873-8c02-476c56ae5b6b" >
							<when expression="#[sizeOf(payload[?(sizeOf($.errors default [])&gt;0)]) &gt; 0]">
								<logger level="ERROR" doc:name="Errored Records" doc:id="7d0b7bf5-8d31-439e-bf99-4c08d674de4c" message="#[output application/json
---
(payload[?(sizeOf($.errors default [])&gt;0)]) map(value, index) -&gt;{
    &quot;errors&quot;: value.errors.message reduce($$++ ' , ' ++$)
}]"/>
							</when>
						</choice>
						<error-handler >
							<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="2171348b-76bb-4fe2-a333-c54f0c334ddd" >
								<logger level="ERROR" doc:name="LOG INFO Error" doc:id="47b89cf5-cf25-4daa-a3a1-ef685ae598e0" message="#[error]"/>
							</on-error-continue>
						</error-handler>
					</try>
					<ee:transform doc:name="DW Set aux_data_update" doc:id="90c44c43-61f2-4004-848e-4b022a1589ff">
							<ee:message>
							</ee:message>
							<ee:variables>
							<ee:set-variable resource="dataweave/vEmploymentAuxDataUpdate.dwl" variableName="aux_data_update" />
							</ee:variables>
						</ee:transform>
					<flow-ref doc:name="Flow Ref sf-aux-update" doc:id="39f48edb-5bb7-4371-abdb-27aa1b3da47a" name="sf-aux-update"/>
					<os:store doc:name="os store empl_lastProcessedTime" doc:id="5c51c9cf-975d-45f2-88fa-31ed148bd7b8" key="lastProcessedTime" objectStore="Object_store">
						<os:value ><![CDATA[#[(vars.max_LAST_UPDT_DTTM default '') replace 'T' with(' ')]]]></os:value>
					</os:store>
					<logger level="INFO" doc:name="LOG END Batch" doc:id="44b1f452-a4c6-40ad-973b-ecbd3919ec34" message='#["Data Insert/Update for Batch: " ++ vars.counter ++ "is completed"]'/>
				</foreach>
				<logger level="INFO" doc:name="END Logger" doc:id="a12e9c39-326f-4708-b227-7bc3b23a6e83" message='#["Employments Sync Completed from PS to SF at " ++ now()]'/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="LOG INFO" doc:id="3fc767d3-3718-43fa-8676-86f9d7612a6a" message="No records available!!"/>
			</otherwise>
		</choice>
	</flow>
</mule>
