src/main/mule/ps-to-sfdc-scheduler.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	<flow name="mf-ps-to-sfdc-account-scheduler" doc:id="571147bb-d37d-4456-be61-c1dd782424aa" maxConcurrency="1" initialState="stopped">
		<scheduler doc:name="Scheduler" doc:id="480c13ca-afb3-41e3-8bfd-108ce00b00cd" >
			<scheduling-strategy >
				<fixed-frequency frequency="${scheduler.frequency.seconds}" timeUnit="HOURS"/>
			</scheduling-strategy>
		</scheduler>
		<os:retrieve doc:name="Retrieve Last Processed Time from Object Store" doc:id="e8983c52-8b0d-40e4-a1a6-94fc48ea9d8a" key="lastProcessedTime" objectStore="Object_store" target="lastProcessedTime">
			<os:default-value ><![CDATA[#[p('default.lastProcessedTime')]]]></os:default-value>
		</os:retrieve>
		<flow-ref doc:name="Flow Ref To cf-correlationId" doc:id="4addab4c-70d5-4f1e-ac4d-1d5525119b69" name="cf-correlationId"/>
		<flow-ref doc:name="Flow Ref To pf-spouses-contacts-sync" doc:id="893b5f3b-8547-41b5-8b7e-6b48073cd9eb" name="pf-spouses-contacts-sync" />
		<flow-ref doc:name="Flow Ref To pf-non-spouses-contacts-sync" doc:id="fffa568f-2fc4-4006-ba82-0063468f8e93" name="pf-non-spouses-contacts-sync" />
		<flow-ref doc:name="Flow Ref To pf-relationship-sync" doc:id="60881b6f-4b16-44b2-8cab-c61bd5f224e2" name="pf-relationship"/>
		<flow-ref doc:name="Flow Ref To pf-ps-to-sfdc-address-sync" doc:id="01e3480e-d135-4a12-905a-f13b622c1710" name="pf-ps-to-sfdc-address-sync" />
		<flow-ref doc:name="Flow Ref To pf-ps-to-sfdc-email-sync" doc:id="64256ff8-403b-41b3-a51c-a7b44f54e9ea" name="pf-ps-to-sfdc-email-sync" />
		<flow-ref doc:name="Flow Ref to pf-ps-to-sfdc-phone-sync" doc:id="fdcaf501-fa3f-44fe-8f89-76ed196c2561" name="pf-ps-to-sfdc-phone-sync" /> 
		<flow-ref doc:name="Flow Ref To pf-ps-to-sfdc-education" doc:id="4066a968-b282-42f7-ac9b-a9df1be069ce" name="pf-ps-to-sfdc-education" />
		<flow-ref doc:name="Flow Ref To pf-student-interest" doc:id="730d6bc0-fb6f-4b2c-91de-253d9001c2a2" name="pf-student-interest" />
		<flow-ref doc:name="Flow Ref To pf-employment" doc:id="250fd1d5-c642-4d63-89f8-98ca9cc69394" name="pf-employment" />
		<os:store doc:name="Store Last Processed Time to Object Store" doc:id="4f0eaafb-11c2-466c-a62c-c73cd31357b4" objectStore="Object_store" key="lastProcessedTime">
			<os:value ><![CDATA[#[(vars.max_LAST_UPDT_DTTM default '') replace 'T' with(' ')]]]></os:value>
		</os:store>
	</flow>
	<flow name="mf-ps-to-sfdc-extAcc-address-email-scheduler" doc:id="d27e477c-2b5f-4040-b1bd-f5350b4d6ec9" initialState="stopped" maxConcurrency="1">
		<scheduler doc:name="Scheduler" doc:id="d88f2c98-bb45-4830-af4a-569907f3a570" >
			<scheduling-strategy >
				<fixed-frequency frequency="${scheduler.frequency.seconds}" timeUnit="HOURS"/>
			</scheduling-strategy>
		</scheduler>
		<os:retrieve doc:name="Retrieve Last Process Time from Object Store" doc:id="7a3ffc9c-ef8b-40c3-83a0-ef30e082632a" key="lastProcessTime" objectStore="Object_store" target="lastProcessTime">
			<os:default-value ><![CDATA[#[p('default.lastProcessTime')]]]></os:default-value>
		</os:retrieve>
		<flow-ref doc:name="Flow Ref To cf-correlationId" doc:id="b35b3ef7-01ec-4a9d-8505-7cda779b5f9b" name="cf-correlationId" />
		<flow-ref doc:name="Flow Ref To pf-ext-accounts-sync-process" doc:id="dde579ac-f455-404d-9d47-4100fca82680" name="pf-ext-accounts-sync-process" />
		<os:store doc:name="Store Last Process Time to Object Store" doc:id="17cadb7a-c3d9-407d-afd7-4f2565687f02" objectStore="Object_store" key="lastProcessTime">
			<os:value ><![CDATA[#[vars.max_LAST_UPDT_DTTM default '']]]></os:value>
		</os:store>
	</flow>
</mule>
