src/main/mule/ps-to-sfdc-address.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
	<flow name="ps-to-sfdc-address-sync" doc:id="a1b41d1f-fe61-428b-b052-42fbe7472c31">
		<logger level="INFO" doc:name=" Log Info for Trigger Address" doc:id="832f4e9c-5b96-4696-86d8-0d49313b5ace" message="Trigger entered for create address" />
		<db:select doc:name=" Select Addresses from PS DB" doc:id="402b7a12-7a32-4833-8fc5-e6a8453ef506" target="PSAddress" config-ref="rpt-db-config">
			<db:sql>#[p('db.rpt.query.address')]</db:sql>
		</db:select>
		<ee:transform doc:name="Java to Json" doc:id="47c8ce79-7ab9-4ddb-88a9-421ad4c10c78">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.PSAddress]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="LOG Info Transformed Resultset" doc:id="fdb2a35f-403f-4c15-8bd0-0c7a70a57379" message="#[vars.PSAddress]" />
		<flow-ref doc:name="Refer to address-sync-process-batch" doc:id="3189a43e-431b-412d-9d08-5ee159dc27f4" name="address-sync-process-batch" />
		<set-payload value="#[output application/json --- payload]" doc:name="Set Payload" doc:id="d9338ea1-c9cc-46dc-a8e1-79cec28e1cf0" />
	</flow>
	 <flow name="address-sync-process-batch" doc:id="52784469-8dc5-444b-b271-e78deff56580" >
		<batch:job jobName="address-sync-process" doc:id="b139b952-fa77-4e4e-8217-2bbcb2a0ac86" >
			<batch:process-records >
				<batch:step name="sync-ps-records-to-sfdc" doc:id="7bcdf9e4-b444-42fb-a8fd-cad7356d551a" >
					<ee:transform doc:name="DW Map Payload" doc:id="9ff3de02-2938-43fc-965f-88bcfa1223fe">
				<ee:message>
				</ee:message>
				<ee:variables>
					<ee:set-variable variableName="varRecordToAuxDbase"><![CDATA[%dw 2.0
output application/json
---

 

	{
		emplID: payload."EMPLID" as String,
		LastUpdatedDate: payload."LAST_UPDT_DTTM" as LocalDateTime as String {format: 'yyyy-MM-dd HH.mm.ss.SSSSSSSSS '}
	}
]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
					<logger level="INFO" doc:name="Log Info for tuuid" doc:id="d3843b07-7c88-4800-813f-8fd379c065dd" message="#[vars.tuuid]" />
					<flow-ref doc:name="Refer to address-persistance-aux-insert-subFlow" doc:id="40c26836-b6ef-466b-bdd9-37727edf664d" name="address-persistance-aux-insert-subFlow" />
					<http:request method="POST" doc:name="SFDC  System Api Call" doc:id="a32ac09f-03f7-45ba-98f0-ea9e612846a2" path="${http.request.system.sfdc.path.createAddress}" responseTimeout="100000000" target="sdfc_address_result" config-ref="sfdc-system-http-request-config">
						<http:query-params ><![CDATA[#[output application/java
---
{
	"ViewName" : "address"
}]]]></http:query-params>
					</http:request>
					<logger level="INFO" doc:name=" Log Info for SFDC Results" doc:id="5af7cea9-b1b8-483c-a96f-98af6e5b7b31" message="#[vars.sdfc_address_result]" />
					<flow-ref doc:name="Refer to address-persistance-aux-update-subflow" doc:id="ae2fb6e5-276c-4a75-ba7e-e39b5ad525a0" name="address-persistance-aux-update-subflow" />
					<logger level="INFO" doc:name=" Log Info Payload" doc:id="a8d0ef5d-0969-4c52-ace6-a59f1b57f6be" message="#[payload]" />
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Info Log | Total Records" doc:id="100cee64-5580-43c1-b755-4ba088e0e3e1" message="#[payload]" />
			</batch:on-complete>
		</batch:job>
	</flow>
	<sub-flow name="address-persistance-aux-update-subflow" doc:id="6af92f1c-5466-408e-8b43-90abc388d36f" >
		<logger level="INFO" doc:name="LOG Info Aux Insert" doc:id="618ba661-4eff-4768-b251-5fa01f53b290" message="Flow entered aux insert #[payload]" />
		<ee:transform doc:name="Payload To Update" doc:id="7648ea8c-713c-4adb-8f25-67677d195b38" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"id": vars.sdfc_address_result."id"[0] default'NA',
	"tuuid": vars.tuuid,
	"now": now() as String {format: 'yyyy-MM-dd hh:mm:ss.SSS'},
	"status": if(vars.sdfc_address_result."success"[0] == true) "COMPLETED" else 'ERROR',
	"metadata": if(vars.sdfc_address_result."success"[0] == true) "Record Insert or Updated in SFDC" else "Error while Insert or Update in SFDC",
    "description": if(vars.sdfc_address_result."success"[0] == true) "Record Insert or Updated in SFDC" else (flatten(vars.sdfc_address_result."errors"))."message"[0]
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:update doc:name="Update To Aux Dbase" doc:id="9129f33e-75f7-4182-98ff-9fc55d39dcde" config-ref="aux-db-config">
			<db:sql >Update SYSADM.PS_XC_AQ_AUX_TBL 
set 
XC_AQ_DESTINATION = 'SFDC', 
XC_AQ_DEST_ID = :id,
DT_TIMESTAMP = :now,
XC_AQ_STATUS = :status,
XC_AQ_METADATA = :metadata,
DESCR250 = :description
where XC_AQ_SOURCE_TYPE = :tuuid</db:sql>
			<db:input-parameters ><![CDATA[#[payload]]]></db:input-parameters>
		</db:update>
		<logger level="INFO" doc:name=" Log Info Aux Dbase Updation Status" doc:id="2074f4ac-49e7-4e2b-abb8-7134adcd05c5" message="Updated AUX table" />
	</sub-flow>
	<sub-flow name="address-getuuid-subflow" doc:id="c911ee83-0769-4b34-a693-1ac0cfcd0623" >
		<set-variable value="#[uuid()]" doc:name="UUID" doc:id="2da27241-8df1-4110-953a-27dc88f77ec5" variableName="uuid" />
		<ee:transform doc:name="Tuuid" doc:id="bcc6cf7d-2121-4e1b-887e-fbfb5998a414" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="tuuid" ><![CDATA[%dw 2.0
output application/json
---
vars.uuid[0 to 7] ++ vars.uuid[9]
]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Log Info Variable Tuuid " doc:id="d5fa7504-01cf-4fb1-94aa-85a831a1b0ef" message="#[vars.tuuid]" />
	</sub-flow>
	<sub-flow name="address-persistance-aux-insert-subFlow" doc:id="362afc50-ec45-4f58-8b7a-14c5bd810efa" >
		<logger level="INFO" doc:name="LOG Info Aux Insert" doc:id="2c4b66a3-59ee-4a69-983c-1d64f91c244d" message="Flow entered aux insert" />
		<set-variable value="#[vars.varRecordToAuxDbase]" doc:name="AuxDetails" doc:id="835104a7-91ad-4bf7-81a7-74714a0a766b" variableName="AuxDetails" />
		<flow-ref doc:name="Refer to address-getuuid-subflow" doc:id="4ff5487d-a7c1-46a2-8c70-8f26f75ea11f" name="address-getuuid-subflow" />
		<logger level="INFO" doc:name="Log Info EmplID" doc:id="b09fc457-00df-46b4-9859-b9ce0957180f" message='#[vars.AuxDetails."emplID"]' />
		<db:insert doc:name="Insert To Aux" doc:id="d16cd21d-2b26-445c-9965-ef5051f2d660" target="response" config-ref="aux-db-config">
				<db:sql>Insert into SYSADM.PS_XC_AQ_AUX_TBL
    (GUID, XC_AQ_SOURCE, XC_AQ_SOURCE_ID, XC_AQ_SOURCE_TYPE, XC_AQ_DESTINATION, XC_AQ_DEST_ID, XC_AQ_STATUS, DTTM_CREATED, DTTM_MODIFIED,  XC_AQ_METADATA, DESCR250) 
values (:GUID, :XC_AQ_SOURCE, :XC_AQ_SOURCE_ID, :XC_AQ_SOURCE_TYPE, :XC_AQ_DESTINATION, :XC_AQ_DEST_ID, :XC_AQ_STATUS,  :DTTM_CREATED, :DTTM_MODIFIED, :XC_AQ_METADATA, :DESCR250)</db:sql>
				<db:input-parameters><![CDATA[#[{
GUID: vars.tuuid,
XC_AQ_SOURCE: 'PS-CS', 
XC_AQ_SOURCE_ID: vars.AuxDetails.emplID,  
XC_AQ_SOURCE_TYPE: vars.tuuid,
XC_AQ_DESTINATION: '-',
XC_AQ_DEST_ID: '-',
XC_AQ_STATUS: 'In progress',
DTTM_CREATED: now(),
DTTM_MODIFIED: now(),
XC_AQ_METADATA: 'CS to SFDC',
DESCR250: 'Data transfer from Campus Solution to SFDC'
}]]]></db:input-parameters>
			
			</db:insert>
		<logger level="INFO" doc:name="Log Info Dbase Results" doc:id="0e31ffbd-d0ff-4046-bfa8-aa6ba550dbb0" message="Result inserted: #[vars.response.affectedRows]" />
	</sub-flow>
</mule>
